/*充值样式*/
.pay-box {border: 1px solid #d9d9d9;border-width: 1px 0;background: #fff;}
.pay-list {border-bottom: none;}
.pay-list li {padding-left: .96rem;}
.card-show {width: 100%;position:relative;text-align: center;font: .31rem/.62rem "Microsoft YaHei";color: #f05a39;background: #fff1e4;}
.card-show:before {content: "";position: absolute;left: 50%;top: -.1rem;z-index:11;width: 0;height: 0;border-bottom: .1rem solid #fff1e4;border-left: .12rem solid transparent;border-right: .12rem solid transparent;}
.card-select {padding: 0 .2rem;}
.card-select .select-box {padding-left:.96rem;height: .5rem;position: relative;}

.view-limit {padding: .08rem .2rem .18rem .2rem;text-align: right;font-size: .14rem;}
.view-limit a {color: #f05a39;}
.exit-box-copy {position:absolute;width:3.16rem;text-align:center;background:#fff;border-radius: 5px;z-index:9999}
.exit-box-copy h3 {padding: .3rem;font: .16rem/.26rem "Microsoft YaHei";color:#363532;border-bottom:1px solid #ccc}
.exit-mask .exit-box{position:absolute;width:3.16rem;height:1.82rem;text-align:center;background:#fff;-moz-border-radius:5px;border-radius:5px;z-index:9999}
.exit-mask .exit-box h3{line-height:1.25rem;font-size:.18rem;border-bottom:1px solid #ccc}
.exit-mask .exit-box li{float:left;width:50%;line-height:.56rem;font-size:.18rem;border-right:1px solid #ccc;cursor:pointer;box-sizing:border-box;}
.exit-box li:last-child{border:0}
.exit-box-copy .exit-sure {display:block;text-align: center;font: .18rem/.52rem "Microsoft YaHei";color:#fff;background: #da554e;-moz-border-radius: 0 0 5px 5px;border-radius: 0 0 5px 5px;cursor: pointer;}

.selectContainer .selectOption{float:left;width: 82%; text-indent: .1rem; font: .15rem/.3rem "Microsoft YaHei"; height:.3rem; white-space:nowrap; overflow:hidden;border:none; z-index:11;} 

.hqb-tit {padding: .22rem .2rem .18rem .2rem;background: #da554e;}
.hqb-tit li {float: left;font: .14rem "Microsoft YaHei";color: #fff;}
.hqb-tit li .note-num {display:block;font-size: .27rem;}
.hqb-tit-copy {padding: .14rem .2rem .1rem .2rem;background: #c9504a;}
.hqb-tit-copy li {float: left;font: .14rem "Microsoft YaHei";color: #fff;}
.hqb-tit-copy li .note-num {display:block;font-size: .18rem;}
.hqb-tit-copy li:nth-child(2) {float: right;}
.hqb-box {margin: .07rem .07rem 0 .07rem;padding: .15rem .15rem 0 .15rem;background: #fff;box-shadow: 0 0 .08rem rgba(12,51,92,.04);}
.hqb-box div:last-child {border:none;}

.acc-bank {width: 1.12rem; height:.2rem;margin-top:.15rem;text-align: right;}
.collect-list .acc-num {float: left;color:#b1b1b1;font: .16rem/.5rem "Microsoft YaHei";}
.collect-list li .acc-img {float: left; width: auto;}
.collect-list li .acc-img img {display: block; width: auto;}
.acc-img {display: block;float: right; margin-right: .2rem;  line-height: 0;}
.acc-img img { height: 100%; width: auto;}