{{each data}}
{{if $value.status == "unused"}}
<li class="iscroll-item" data-link="$root$/activity/tyj_detail.html?productId={{$value.productId}}&expCashId={{$value.expCashId}}&expCash={{$value.expCash}}">
	<div class="li-box">
		<span class="useStatus"></span>
		<dl class="dl-box-left">
			<dt>{{$value.remark}}</dt>
			<dd>{{$value.fExpCash}}<span class="fs-20">元</span></dd>
		</dl>
		<div class="use-link"><a>立即使用 &gt;</a></div>
		<div class="redpack-status dp-box">
			<div class="expaiationTime box-flex"><span class="ico ico-standby"></span>还剩{{$value.expireDate}}过期</div>
		</div>
	</div>
</li>


{{else if $value.status == "used"}}
<li class="gray iscroll-item">
	<div class="li-box">
		<span class="useStatus"></span>
		<dl class="dl-box-left">
			<dt>{{$value.remark}}</dt>
			<dd>{{$value.fExpCash}}<span class="fs-20">元</span></dd>
		</dl>
		<dl class="dl-box-right">
			{{if $value.isfinish}}
				<dt>总收益</dt>
			{{else}}
				<dt>预期总收益</dt>
			{{/if}}
			<dd>{{$value.income}}<span class="fs-20">元</span></dd>
		</dl>
		<div class="redpack-status dp-box">
			<div class="expaiationTime box-flex"><span class="ico ico-cashBack"></span>收益将于{{$value.endDate}}到账</div>
		</div>
	</div>
</li>


{{else if $value.status == "overdue"}}
<li class="gray ex-expiration s-expiration iscroll-item">
	<div class="li-box">
		<span class="useStatus"></span>
		<dl class="dl-box-left">
			<dt>{{$value.remark}}</dt>
			<dd>{{$value.fExpCash}}<span class="fs-20">元</span></dd>
		</dl>
		<div class="redpack-status dp-box">
			<div class="expaiationTime box-flex"><span class="ico ico-standby"></span>已于 {{$value.expireDate}} 过期</div>
		</div>
	</div>
</li>


{{/if}}
{{/each}}