
header{position: fixed; width: 100%; left: 0px; top: 0px; z-index: 2;}
.ui-viewport{padding-top: .7rem;}

.float{float: left; width:4rem;}
/*顶部tab*/
.redpack-tabbar {width: 100%;line-height:.6rem;border-bottom: 1px solid #e8eaed;font-size: .18rem;background: #fff;}
.redpack-tabbar li {width: 33.33%;position: relative; text-align: center;color: #5a5a5a;}
.redpack-tabbar li:before {content: "";position: absolute;right: 0;top: 30%;width: 1px;height: 40%;background: #dcdcdc;}
.redpack-tabbar li:last-child:before {display: none;}
.redpack-tabbar li.active {color: #fd9149;}
.redpack-tabbar li.active:after {content: "";position: absolute;left: 10%;bottom: 0;z-index: 10;width: 80%;height: .02rem;background: #fd9149;}

/*红包*/
.page-experi .redpack-list li {position: relative;margin-bottom: .12rem;padding:0 .12rem;}
.page-experi .redpack-list .li-box {position: relative;padding: .15rem 0 .4rem 0;min-height: .9rem;border-radius: 5px;overflow: hidden;box-shadow: 0 0 .08rem rgba(0,0,0,.2);
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;   

background: -webkit-gradient(linear, left top, from(#fff3c0), color-stop(0.5, #fff8df), to(#fff3c0));
background: -webkit-linear-gradient(left top, #fff3c0 0%, #fff8df 50%, #fff3c0 100%);
background: linear-gradient(left top, #fff3c0 0%, #fff8df 50%, #fff3c0 100%);
}
.page-experi .redpack-list li .dl-box-left {margin-right: .1rem;padding-left: .2rem;font-size: .18rem;color: #dd9c00;width: 100%;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
.page-experi .redpack-list li .dl-box-left dd {font-size: .38rem;}
.page-experi .redpack-list li .dl-box-right,.page-experi .redpack-list li .use-link a {padding: 0 .2rem;font-size: .16rem;text-align: center;color: #dd9c00;}
.page-experi .redpack-list li .dl-box-right dd {margin-top: .15rem;font-size: .24rem;color: #d43b3b;}
.page-experi .redpack-status {position: absolute;left:0;bottom:0;width: 100%;padding: 0 .2rem;height: .4rem;line-height: .4rem;font-size: .16rem;color: #fff;box-sizing: border-box;border-radius: 0 0 5px 5px;background: #d43b3b;overflow: hidden;}
.page-experi .expaiationTime {position: relative;padding-left: .22rem;}
.page-experi .redpack-status .use a {color: #fff;}
.page-experi .expaiationTime .ico {position: absolute;left: 0;top: 50%;margin-top: -.1rem;width: .2rem;height: .2rem;-webkit-background-size: contain;background-size: contain;}
/*体验金底部状态栏对应icon*/
.page-experi .expaiationTime .ico-standby {background-image: url(redpack-ico-standby.png);}/*还剩xx天过期*/
.page-experi .expaiationTime .ico-used {background-image: url(redpack-ico-used.png);}/*已使用*/		
.page-experi .expaiationTime .ico-cashBack {background-image: url(redpack-ico-cashBack.png);}/*已成功返现*/
.page-experi .expaiationTime .ico-transferFail {background-image: url(redpack-ico-transferFail.png);}/*已转让*/
/*体验金底部状态栏对应icon end*/

.page-experi .operat-a {text-align: center;font-size: .16rem;line-height: 100%;color: #ababab;}
.page-experi .operat-a a.btn {display: inline-block;padding: 0 .12rem;color: #fd9149;border-left: 1px solid #cdcdcd;}
.page-experi .operat-a a:first-child {border: none;}
/*红包end*/


/*体验金生效中*/
.page-experi .redpack-list li .useStatus {display: none;position: absolute;right: -.15rem;top: -.15rem;width: .86rem;height: .86rem;-webkit-background-size: contain;background-size: contain;}
.page-experi .redpack-list li.s-using .useStatus {display: block;background-image: url(redpack-sign-using.png);} /*生效中*/
.page-experi .redpack-list li.s-expirBack .useStatus {display: block;background-image: url(redpack-sign-expirBack.png);} /*到期已返现*/
.page-experi .redpack-list li.s-transferFail .useStatus {display: block;background-image: url(redpack-sign-transferFail.png);} /*转让已失效*/
.page-experi .redpack-list li.s-expiration .useStatus {display: block;background-image: url(redpack-sign-expiration.png);} /*已过期*/

/*体验金生效中 end*/

/*已返现*/
.page-experi .redpack-list li.gray .li-box {background: #ccc;}
/*已返现 end*/


/*已收益*/
.page-experi .redpack-list li.gray .li-box {
	background: -webkit-gradient(linear, left top, from(#cbcbca), color-stop(0.5, #ebebeb), to(#cbcbca));
	background: -webkit-linear-gradient(left top, #cbcbca 0%, #ebebeb 50%, #cbcbca 100%);
	background: linear-gradient(left top, #cbcbca 0%, #ebebeb 50%, #cbcbca 100%);
}
.page-experi .redpack-list li.gray .dl-box-left,.page-experi .redpack-list li.gray .dl-box-right {color: #a1a1a1;}
.page-experi .redpack-list li.gray .redpack-status {background: #bcbcbc;}
/*已收益 end*/

/*已过期*/
.page-experi .redpack-list li.ex-expiration .dl-box-right,.page-experi .redpack-list li.ex-expiration .use {display: none;}

/*已过期 end*/





/*暂无过期红包*/
.page-experi .pack-none {margin-top: 1.6rem;text-align: center;font-size: .14rem;color: #ababab;}
.page-experi .pack-none .ico {display: block;margin: 0 auto;width: .81rem;height: .49rem;background: url(wu_03.png) no-repeat center center;-webkit-background-size: contain;background-size: contain;}
