.redeem_sucbox {padding: .65rem 0 .4rem .35rem;}
.redeem_suc {position: relative;overflow: hidden;}
.redeem_suc:before {content: "";position: absolute;left: 1.05rem;bottom: .15rem;width: .05rem;height: 100%;background:#f05a39;}
.redeem_suc:after {content: "";position: absolute;left: .98rem;bottom: .15rem;z-index: 99;width: .19rem;height: .19rem;border-radius: 1rem;background:#f05a39;}
.redeem_suc li {margin-bottom: .65rem;position: relative;}
.redeem_suc li:before {content: "";position: absolute;left: .99rem;top: 0;z-index:100;width: .11rem;height: .11rem;border-radius: 1rem;background:#fff;border: .03rem solid #f05a39;}
.redeem_suc li:last-child {margin: 0;}
.redeem_suc li:last-child:before {display: none;}
.redeem_date {float: left;width: 1.35rem;font-size: .14rem;color: #929292;}
.redeem_notes {float: left;width: 2rem;color: #383330;font-size: .15rem;}
.redeem_notes p {color: #929292;font-size: .14rem;}
.invest_goon {margin-top: 0;}
.invest_goon li {width: 45%;}
.invest_goon li a {color: #383330;}
.red-bag {padding-bottom: .35rem;text-align: center;font-size: .14rem;color: #64605e;}

.code-share {padding: .1rem;text-align: center;margin-top: .78rem;font: .19rem/.48rem "Microsoft YaHei";display: -webkit-box;display: box;}
.code-share li {width:50%;height: .48rem;margin: 0 .03rem;-moz-border-radius: 5px;border-radius: 5px;box-sizing:border-box;border: 1px solid #b2b2b2;background: #fff;color: #9d9d9d;-webkit-box-flex: 1;box-flex: 1;cursor: pointer;}
.code-share li a {color: #9d9d9d;display: block;}
.code-share li:last-child {border-color: #da554e;background: #da554e;color: #fff;}
.code-share li:last-child a {color: #fff;}