<div class="iscroll-item">
	<div class="date-h3">{{datetime}}</div>
	<div class="wrap-today">

		{{if currentInvestProfit && currentInvestProfit.profitName}}
		<div class="today-box">
			<h3>{{currentInvestProfit.profitName}}</h3>
			<p class="p-name">收益回款：<span class="text-orange">+{{currentInvestProfit.profit | moneyFormat}}</span></p>
		</div>
		{{/if}}


		{{if fixInvestProfit && fixInvestProfit.profitName}}
		<div class="today-box">
			<h3>{{fixInvestProfit.profitName}}</h3>
			<p class="p-name">预期收益：<span class="text-orange">+{{fixInvestProfit.profit | moneyFormat}}</span></p>
			<div class="p-tips">（根据当前持有的定期投资对应的年化收益率计算。总收益将在投资到期时回款。）</div>
		</div>
		{{/if}}

		{{if transferProfit && transferProfit.profitName}}
		<div class="today-box">
			<h3>{{transferProfit.profitName}}</h3>
			<p class="p-name">预期收益：<span class="text-orange">+{{transferProfit.profit | moneyFormat}}</span></p>
		</div>
		{{/if}}


		{{if otherProfit && otherProfit.length > 0}}
			{{each otherProfit as other}}
				<div class="today-box">
					<h3>其他收益</h3>
					<p class="p-name">{{other.profitName}}</p>
					<p class="p-name">收益金额：<span class="text-orange">{{other.profit | moneyFormat}}</span></p>
				</div>
			{{/each}}
		{{/if}}
	</div>
</div>









