
<header>
	<div class="head-box bg-orange-linear">
		<div class="bg-wave2">
			<div class="profit-today">
				<p>今日收益（元）</p>
				<p class="num">+{{todayIncome}}</p>
			</div>
		</div>
	</div>
</header>

<article>
	<section>
		<div class="wrap-today mgt1">
			<div class="today-box">
				<h3>活期宝</h3>
				<p class="p-name">今日预期收益：<span class="text-orange">+{{floatIncome.profit | moneyFormat}}</span></p>
				<p class="p-tips">（将作为本金复投，赎回时到账。）</p>
			</div>

			<div class="today-box">
				<h3>定期投资</h3>
				<p class="p-name">今日预期收益：<span class="text-orange">+{{fixIncome.profit | moneyFormat}}</span></p>
				<p class="p-tips">（根据当前持有的定期投资对应的年化收益率计算。总收益将在投资到期时回款。）</p>
			</div>

			{{if otherList.length > 0}}
			<div class="today-box">
				<h3>其他收益</h3>
				{{each otherList}}
					<p class="p-name">{{$value.profitName}}</p>
					<p class="p-name">收益金额：<span class="text-orange">{{$value.profit | moneyFormat}}</span></p>
				{{/each}}
			</div>
			{{/if}}

		</div>
	</section>
</article>
