<header>
	<div class="hqb-buy bg-white">
		<h3 class="hqb-h3">{{pname}}</h3>
		<p>预期年化收益率：{{rate}}%</p>
		<span class="ico-deadline">{{days}}天期限</span>
	</div>
</header>

<section>
	
	<ul class="new-invest-item mgt1">
		<li><label class="text-black5a">购买金额</label><div class="item-p">{{amount}}元</div></li>
		<li><label class="text-black5a">返现红包</label><div class="item-p"><span class="text-gray">当前不适用</span></div></li>
	</ul>
	<p class="b-tips">预期总收益  {{income}}元</p>
	<div class="operate mgt1">
		<a class="oper-btn" id="js_btn_buy" href="javascript:void(0)" title="">购买</a>
	</div>
</section>