	<div class="buy_red_hd">
		<h1>{{pname}}</h1>
		<p>预期年化收益率：{{rate}}%</p>
		<span>{{days}}天期限</span>
	</div>
	<ul class="Infor buy_infor">
		<li class="clearfix">
			<label>购买金额</label>
			<span class="buy_txt">{{amount}}元</span>

		</li>
		<li class="clearfix">
			<label>返现红包</label>
			<span class="buy_txt2">当前不适用</span>
		</li>
	</ul>
	<p class="expect_money">预期收益{{income}}元</p>

	<div class="infor_btn Expect_btn">
		<a href="javascript:void(0)" id="btn-buy">购买</a>
	</div>