		/*日历*/
		.calendar-box {margin: .05rem 0;background: #f8f8f8;border-bottom:.06rem solid #f1f1f1;}
		.cld-tit {position: relative;z-index: 99;height: .52rem;background: #fff;font-size: .18rem;color: #666;}
		
		.cld-tit .prev,.cld-tit .next {
			position: absolute;
			width: .75rem;
			height:100%;
		}
		.cld-tit .next{right:0;}
		.cld-tit .prev span,.cld-tit .next span{
			width: .27rem;
			height: .27rem;
			margin-top:.14rem;
			display:inline-block;
			border-radius:.27rem;
			background:url("btn-calendar-gray.png") no-repeat .085rem center;
			-webkit-background-size: .09rem .15rem;
			background-size: .09rem .15rem;
			background-color: #eeeff3;
		}
		.cld-tit .prev span{margin-left: .25rem;}
		.cld-tit .next span{margin-left: .25rem;-webkit-transform: rotate(180deg);transform: rotate(180deg);}
		
		.cld-tit .prev.tapOn span, .cld-tit .next.tapOn span {
			background:url("btn-calendar-white.png") no-repeat .085rem center;
			-webkit-background-size: .09rem .15rem;
			background-size: .09rem .15rem;
			background-color: #fd9149;
		}

		.date-cur {position: relative;margin: 0 1rem;text-align:center;line-height: .52rem;}
		.date-cur:after {content: "";position: absolute;top: 50%;right: .35rem;width: 0;height: 0;margin-left: -.04rem;margin-top:-.02rem;border-left: .06rem solid transparent;border-right: .06rem solid transparent;}
		
		.month-ico-up:after{border-bottom: .08rem solid #666;}
		.month-ico-down:after{border-top: .08rem solid #666 !important;}

		.date-cur .point {display: inline-block;position: relative;}
		.date-cur .point:before {content: "";position: absolute;left: -.12rem;top: 50%;margin-top: -.05rem;width: .09rem;height: .09rem;border-radius: .09rem;background: #fd9149;}
		.date-box {position: absolute;left: 49%;top: .43rem;margin-left: -.8rem;width: 1.6rem;height: 2.6rem;overflow: hidden;background: #fff;border: 1px solid #b3b3b3;}
		.date-scroll {text-align: center;line-height: .4rem;}
		.date-scroll li {position: relative;color: #666;border-bottom: 1px solid #e6e6e6;}
		.date-scroll li:last-child {border: none;}
		.date-scroll li.dot:before {content: "";position: absolute;left: .12rem;top: 50%;margin-top: -.05rem;width: .08rem;height: .08rem;border-radius: .08rem;background: #fd9149;}

		.cld-cont {padding: 0 .12rem;}
		.tab-cld {width: 100%;font-size: .18rem; }
		.datepickerWeek {border-bottom: 1px solid #d9d9d9;color: #666;font-size: .14rem;}
		.datepickerWeek th {width: 14.285%;font-weight: normal;}
		.datepickerWeek span {display:block;height: .25rem;line-height: .25rem;text-align: center;}
		.datepickerWeek .on {color: #fd9149;}
		.datepickerDays {font-family: Arial, Helvetica, sans-serif;}
		.datepickerDays td {width: 14.285%;}
		.datepickerDays a {display: block;position: relative;padding: .05rem 0;text-align: center;color: #666;}
		.datepickerDays a span {display: inline-block;width: .36rem;height: .36rem;line-height: .36rem;border-radius: 100%;}
		.datepickerDays .grey a {color: #b2b2b2;}
		.datepickerDays .defaultpicker span {color: #fff;background: #fd9149;}
		/*.datepickerDays .item a {font-weight: bold;color: #fd9149;}*/
		.datepickerDays .item span:before {content: "";position: absolute;right: .07rem;top: .07rem;width: .07rem;height: .07rem;border-radius: .07rem;background: #fd9149;}

