<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>转让手续费</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css  
    -->
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="wrap transfer">
		
		<article>
			<section>
				<div class="tab-contain-box">
					<p class="text1">债权转让成功后，小牛钱罐子平台会从债权出让人获取的收益中扣除一定的金额作为债权转让手续费，转让手续费＝转让时该债权待收本金*转让费率（x%），转让手续费部份让利给债权受让人，部分作为平台服务费，此过程不向债权受让人收取任何费用,转让人转让后实际年化收益最低为1.75%。明细如下表：</p>
					<div class="tab-detail">
						<table cellspacing="0" cellpadding="0" border="1" borderColor="#cecece" class="tab1" id="feeId">
						</table>
					</div>
				</div>
				<div class="tips-picc"><span class="ico1">账户资金安全由中国人民保险提供100%承保</span></div>
			</section>
		</article>
	</div>
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript">
		require("pages/account/attorn/fee");
	</script>
</body>
</html>