<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>资金明细</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	
	<!--
        @require views/css/global.css
        @require views/css/style.css 
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="wrap page-fundsDetails">
		<header>
			<div class="bg-white">
				<ul class="hqb-tit clearfix">
					<li>
				   		<span class="note-name mgb1">账户余额(元)</span>
				   		<span id="js_lbl_amount" class="note-num text-orange">0.00</span>
				   	</li>
				</ul>
			</div>
		</header>
		<article>
			<ul id="js_context" class="founs-listBox">
				<li>
					<p class="waterfall-login">数据加载中...</p>
				</li>
			</ul>
		</article>
	</div>

	<script type="text/javascript">
		require('pages/account/fund_detail/fund_detail');
	</script>
</body>
</html>