<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>我的账户</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection"content="telephone=no, email=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	
	<!--
        @require views/css/global.css
        @require views/css/style.css 
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
</head>
<body>
<div class="wrap" id="wrap">
		<dl class="account">
			<dt><img id="photo" src="/views/images/acc_img.png" alt="" title=""></dt>
			<dd style="display: none;"><span id="lbl-account">185****6050</span>尊敬的<label id="lbl-vipname"></label>，您好！</dd>
		</dl>
		<section class="acc-total">
			<h3>总资产</h3>
			<p class="total">0</p>
		</section>

		<section class="acc-total mgt4 bdt1">
			<ul class="assets-total clearfix">
				<a href="my_invest_record.html">
					<li>
						<h4>我的投资</h4>
						<span class="invest">0</span>
					</li>
				</a>
				<a href="$root$/account/my_hqb.html">
					<li>
						<h4>活期宝</h4>
						<span class="deposit">0</span>
					</li>
				</a>
				<a href="$root$/account/fund_detail.html">
					<li>
						<h4>账户余额</h4>
						<span class="balance">0</span>
					</li>
				</a>
			</ul>
			<ul class="assets-btn">
				<li id="btn-recharge">充    值</li>
				<li id="btn-withdraw">提    现</li>
			</ul>

		</section>

		<ul class="manage-list mgt4">
			<li>
				<a href="$root$/vip/vip.html" title="">会员特权</a>
			</li>
			<li>
				<a href="$root$/account/my_redpacket.html" title="">我的优惠</a>
			</li>
			<li>
				<a id="btn-change" href="javascript:void(0);" title="">修改密码</a>
			</li>
		</ul>

		<a id="btn-exit" href="javascript:void(0);"><div class="back-bind mgt5">退出绑定</div></a>
	</div>
	<script type="text/javascript">
		require('pages/account/my_account/my_account');
	</script>
</body>
</html>