<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>我的优惠</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
		@require views/css/global.css
        @require views/css/style.css
	-->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<section>
		<ul id="ul-coupon" class="myoffer">
			<li>
				<a class="clearfix" id="btn-hbao">
					<label class="moneyiocn1">我的红包</label>
					<span><em id="lbl-redpacket">0</em>个可用</span>
				</a>
			</li>
			<li >
				<a class="clearfix" id="btn-tyj">
					<label class="moneyiocn2">我的体验金</label>
					<span><em id="lbl-tyj">0</em>元可用</span>
				</a>
			</li>
		</ul>
	</section>
	<script type="text/javascript">
		require('pages/account/my_coupon/my_coupon');
	</script>
</body>
</html>