<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>我的活期宝</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	
	<!--
        @require views/css/global.css
        @require views/css/style.css 
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="wrap wrap-pdb1 page-myhqb">
		<header>
			<div class="head-box bg-orange-linear">
				<div id="js_header" class="bg-wave1">
					<div class="top-total text-c">
						昨日收益（元）<p>0.00</p>
					</div>
					<p class="profit-total">0.00</p>
					<ul class="total-item dp-box mgt3">
						<li>活期宝余额(元)<p>0.00</p></li>
						<li></li>
					</ul>
				</div>
			</div>

			<ul id="js_ul_menu" class="invest-tabbar dp-box tabbar-two">
				<li class="active" data-index="0">持有中</li>
				<li data-index="1">赎回记录</li>
			</ul>
		</header>

		<article>
			<section>
				<div class="ui-viewport">
					<div id="js_context" class="tab-contain ui-scroller">
						<div class="ui-item"></div>
						<div class="ui-item"></div>
					</div>
				</div>
				<div class="tips-picc"><span class="ico1"><a href="$root$/agreement/picc.html">账户资金安全由中国人民保险提供100%承保</a></span></div>
			</section>
		</article>

		<div class="opeate-fixed" id="js_btn_tool">
			<ul class="btn-redeem dp-box">
				<li class="box-flex"><a href="$root$/account/hqb_ransom.html">赎回</a></li>
				<li class="box-flex btn-on"><a id="js_btn_buy" href="javascript:void(0);">购买</a></li>
			</ul>
		</div>
	</div>

	<script type="text/javascript">		
		require('pages/account/my_hqb/my_hqb');
	</script>
</body>
</html>