<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>设置交易密码</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	
	<!--
        @require views/css/global.css
        @require views/css/style.css 
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="wrap wrap-pdb1 page-Account">
		<article>
			<div class="set-psw">
				<p class="set-p" id="tips">为了您的资金安全，请设置交易密码</p>
				<!-- 输入提示 -->
				<ul class="deal-password clearfix" id="ul-password">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<div class="operate mgt2">
					<a id="btn-next" class="oper-btn oper-btn-gray" href="javascript:void(0);" title="">下一步</a>
				</div>
			</div>
		</article>
	</div>	
	<script type="text/javascript">
		require('pages/account/pay_password/pay_password');
	</script>
</body>
</html>