<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>提现</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css 
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="load_box wrap-box" id="wrap-loading">
		<div class="loading"><img src="/views/images/ico-onload.gif" /><p>正在加载中···</p></div>
	</div>

	<div class="wrap" id="wrap" style="display: none;">
		<ul class="hqb-tit clearfix">
			<li><span class="note-name">账户余额（元）</span><span class="note-num" id="span-balance">0.00</span></li>
		</ul>

		<ul class="inp-list collect-list mgt2 mgb1">
			<li class="clearfix">
				<label class="inp-tit" for="">提现金额</label>
				<input class="inp-txt"  id="txt-money" type="number" placeholder="请输入金额" />
			</li>
			<li class="clearfix" id="card-box">
				<label class="inp-tit" for="">银行卡号</label>
				<span class="acc-img acc-bank"><img  class="card-ico" src="/views/images/bank_cmb.png" /></span><span class="acc-num card-number">尾号0236</span>
			</li>

			<li class="clearfix">
				<label class="inp-tit" for="">到账时间</label>
				<span class="acc-num" id="span-date">-</span>
			</li>
			<li class="clearfix">
				<label class="inp-tit" for="">提现费用</label><span class="acc-num" id="span-limit">本月还能免费提现0次</span>
			</li>
		</ul>
		
		<div class="operate">
			<a href="javascript:void(0)" class="oper-btn" id="btn-submit" title="">下一步</a>
		</div>
		<!-- 说明文字 -->
		<div class="explain-txt explain-a"><strong>温馨提示</strong>
			<p>为严格保障用户的资金安全，小牛钱罐子才用单张银行卡同卡进出方案。第一次充值成功后银行卡及身份信息将无法随意修改，提现资金也只能进入该银行卡。</p>
			<p>如需更换银行卡，<a href="tel:4006695666">请联系客服</a></p>
		</div>
		
		
	</div>
	<script type="text/javascript">
		require('pages/account/withdraw_deposit/withdraw_deposit');
	</script>
</body>
</html>