<div>
	<header class="bg-orange-linear" id="header">
		<div class="bg-wave2">
			<div class="hqb-buy">
				<h3 class="hqb-h3">{{productName}}</h3>
				<p>预期年化收益率：{{finalRateDesc}}%</p>
				<p class="mgt1">投资期限：{{investPeriod}}{{dateUnit}}</p>
				<p class="mgt1">转让金额：{{unitPrice}}元/份</p>
				<p class="mgt1">剩余份数：{{remainQuotient}}份</p>
			</div>
		</div>
	</header>
	<article class="mgt1">
		<section>
			<ul class="manage-list buy-list manage-b">
				<li class="clearfix">
					<label class="inp-tit">购买份数</label>
					<div class="buy-part bg-on">
						<span class="preva" id="btn-prev"></span>
						<input class="buy-num" id="txt-copies" type="tel" maxlength="3" value="1" />
						<span class="nexta" id="btn-next"></span>
					</div>
				</li>
				<li class="clearfix">
					<label class="inp-tit">合计金额</label>
					<div class="red_num"><span id="span-amount">0</span>元</div>
				</li>	
			</ul>			
			<p class="b-tips">您的账号余额为{{balance}}元<a id="btn-recharge" href="javascript:void(0);" class="pdl1 text-blue2">充值</a></p>
		
			<p class="b-tips">
				预期总收益 <span id="invest-num">0</span>元
			</p>
			<ul class="protocol clearfix">
				{{each protocolUri}}
					<li>
						{{if $value.checked}}
							<span class="pact-ico btn-pact pact-on" data-index="{{$index}}"></span>
						{{else}}
							<span class="pact-ico btn-pact" data-index="{{$index}}"></span>
						{{/if}}						
						<p>已同意<a  href="{{$value.url}}" class="text-blue2">《{{$value.title}}》</a></p>
					</li>
				{{/each}}
			</ul>
			<div class="operate mrt1">
				{{if state == 0}}
					<a class="oper-btn"  id="btn-submit" href="javascript:void(0);" title="">购买</a>
				{{else}}
					<a class="oper-btn oper-btn-gray" href="javascript:void(0);" title="">{{stateText}}</a>
				{{/if}}				
			</div>
			
		</section>
	</article>
</div>