<ul class="hqb-tit clearfix">
	<li><span class="note-name">投资中本金（元）</span><span class="note-num">{{productAmount}}</span></li>
	<li><span class="note-name">已回款总收益（元）</span><span class="note-num">{{profitAmount}}</span></li>
</ul>