<ul class="hqb-tit clearfix">
	<li><span class="note-name">总计待回款金额(元)</span><span class="note-num">{{fixTotal}}</span></li>
	<li class="h-profit-total">累计收益(元)<span class="total-num">{{fixIncome}}</span></li>
</ul>
<div class="balance pos-r fs-16">投资本金(元)<span class="bala-num fl-r">{{fixAmount}}</span></div>