.page-Account .set-p {padding: .15rem .1rem;color: #888;text-align: center;font-size: .16rem;}
/*输入交易密码*/
.page-Account .deal-password {margin: 0 .2rem;border:1px solid #d7d6d6;background: #fafbfb;border-radius: 5px;}
.page-Account .deal-password li {float: left; position: relative; width: 16.65%;height: .54rem;border-right: 1px solid #d7d6d6;box-sizing:border-box;}
.page-Account .deal-password li:after {display:none;content: "";position: absolute;left: 50%;top: .2rem;z-index:11;margin-left: -0.075rem;width: .15rem;height: .15rem;-moz-border-radius: 2rem;border-radius: 2rem;background: #000;}
.page-Account .deal-password li:last-child {border:none;}
.page-Account .deal-password li.z-on:after {display: block;}