<div>	
	<header>
		<div class="hqb-buy">
			<h3 class="hqb-h3">活期宝</h3>
			<p>预期年化收益率：{{flowMinRate}}%-{{flowMaxRate}}%</p>
			<p>剩余额度：{{remaMoney}}元</p>
			<span class="ico-check">随存随取</span>
		</div>
	</header>
	<section>
		<p class="t-tips">每人累计最多可购买{{fPurchaseMaximum}}元，您还可以购买{{fbuyBalance}}元</p>
		<div class="cash-input mgb4">
			<input type="tel" id="txt-money" placeholder="100元起">
			<p class="b-tips">您的账号余额为{{balance}}元 <a href="javascript:void(0);" id="btn-recharge" class="text-red">充值</a></p>
		</div>
		<div class="operate">
			{{if state == 0}}
				<a class="oper-btn"  id="btn-submit" href="javascript:void(0);" title="">购买</a>
			{{else}}
				<a class="oper-btn oper-btn-gray" href="javascript:void(0);" title="">{{stateText}}</a>
			{{/if}}
		</div>
		<div class="servive-box clearfix">
			{{each protocolUri}}
			<div class="servive-pact">
				{{if $value.checked}}
					<span class="pact-ico btn-pact pact-on" data-index="{{$index}}"></span>
				{{else}}
					<span class="pact-ico btn-pact" data-index="{{$index}}"></span>
				{{/if}}
				同意<a href="{{$value.redirectUrl}}" class="text-red">《{{$value.title}}》</a>
			</div>
			{{/each}}
		</div>
	</section>
</div>