<div>
	<div class="hd-reds" id="header">
		<div class="hd-ebox-two clearfix">{{productName}}<span>{{deadLineValue}}{{dateUnit}}期限</span></div>
		<div class="ebox-info">
			预期年化收益率 {{fixRateShow}}%
			{{if vipInfo.isVipProduct && vipInfo.isVip}}
			+ {{vipInfo.awardRate}}%(会员)
			{{/if}}
			{{each activityInfo}}
				+{{$value.awardRate}}%({{$value.activityName}})
			{{/each}}
		</div>
		<div class="ebox-info">投资金额: {{buyMinMoney}}元/份</div>
	</div>
	<div>
		{{if isUserLimit}}
			<p class="pro_tips recharge-btn">每人累计最多可购买{{buyMaxMoney}}元，您还可购买{{buyedMoney}}元</p>
		{{/if}}
		<ul class="manage-list buy-list manage-b">
			<li class="clearfix">
				<label class="inp-tit">购买份数</label>
				<div class="buy-part bg-on">
					<span class="preva" id="btn-prev"></span>
					<input class="buy-num" id="txt-copies" type="tel" maxlength="3" value="1" />
					<span class="nexta" id="btn-next"></span>
				</div>
			</li>
			<li class="clearfix">
				<label class="inp-tit">合计金额</label>
				<div class="red_num"><span id="span-amount">0</span>元</div>
			</li>	
		</ul>
		<p class="pro_tips recharge-btn">您的账户余额为{{balance}}元<a href="javascript:void(0);" id="btn-recharge">充值</a></p>

		<ul class="manage-list buy-list manage-b">
			<li class="clearfix">
				<a href="javascript:void(0);" id="btn-packet" class="clearfix">
					<label class="inp-tit">使用红包</label>
					<div class="red_num red_num_right" id="div-redNumber">
						{{if redPakNum == 0}}
							暂无可用
						{{else}}
							未使用
						{{/if}}
					</div>
				</a>
			</li>
		</ul>
		<p class="pro_tips recharge-btn">
			预期总收益<span id="invest-num">0</span>元
			{{if isShowEarnings }}
				<a href="javascript:void(0);" id="btn-earnings">详情</a>
			{{/if}}
		</p>
		<div class="operate">
			{{if state == 0}}
				<a class="oper-btn"  id="btn-submit" href="javascript:void(0);" title="">购买</a>
			{{else}}
				<a class="oper-btn oper-btn-gray" href="javascript:void(0);" title="">{{stateText}}</a>
			{{/if}}
		</div>
		<div class="servive-box clearfix">				
			{{each protocolUri}}	
				<div class="servive-pact">
					{{if $value.checked}}
						<span class="pact-ico pact-draw pact-on btn-pact" data-index="{{$index}}"></span>
					{{else}}
						<span class="pact-ico pact-draw btn-pact" data-index="{{$index}}"></span>
					{{/if}}
					<a href="{{$value.redirectUrl}}">{{$value.title}}</a>				
				</div>
			{{/each}}
		</div>
	</div>
</div>