{{each data}}
{{if $value.isSelected }}
	<div class="bag-box ico-zon ico-selected" data-index="{{$value.index}}">
{{else if $value.isUsable }}
	<div class="bag-box ico-zon" data-index="{{$value.index}}">
{{else}}
	<div class="bag-box un-have" data-index="{{$value.index}}">
{{/if}}
	<div class="side-tag"><span class="mark">已选中</span></div>
	<div class="bag-block">
		<div class="bag-num">￥<b>{{$value.newMoney}}</b></div>
		<dl class="bag-info">
			<dt><h4>{{$value.fName}}</h4><p>还剩{{$value.newExpireDay}}过期</p></dt>
			<dd>
				<p>{{$value.fRemark}}</p>
			</dd>
		</dl>
	</div>
</div>
{{/each}}