.tit-h3 {padding: .15rem .2rem;font-size: .14rem;line-height: .18rem;color: #9d9d9d;}
.tit-h3 p {color: #2c2c2c;padding-bottom: .1rem;}
.tit-h4 {padding: .2rem .0;font-size: .15rem;color: #626262;}
.tit-h5 {font-size: .14rem;line-height: .34rem;color: #ff6000;}
.tit-h5 a {color: #ff6000;}
/*===============================================*/
.manage-list{border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding-left: .2rem;background:#FFF;font-size: .16rem;}
.manage-list li,.list-copy {position:relative;border-top:1px solid #e8e8e8;line-height: .5rem;font-size: .16rem;}
.manage-list li:first-child{border:0}
.manage-list li a,.list-copy a {display:block;margin-right: .18rem;background:url('link-icon.png') no-repeat right center;background-size:.09rem .15rem}
.manage-list li .record-num {float: right;margin-right: .2rem;color: #454545;}
.buy-list li {padding-left: 1.6rem;}
.pro_tips {padding:0 .16rem;font: .14rem/.48rem "Microsoft YaHei";color: #939393;}
.buy-list li.inp-buy {padding-left: 0;}
.recharge-btn a {display: inline-block;padding: 0 .2rem;color: #72b5fe;}

.hd-reds {height: 1rem;padding: 0.15rem .35rem .05rem .2rem;background: #da554e;}
.hd-ebox-two {padding: .06rem 0;font-size: .18rem;color: #fff;}
.hd-ebox-two span {float: right;display: block;position: relative;padding-left: .24rem;font-size: .14rem;}
.hd-ebox-two span:before {content: "";position: absolute;left: 0;top: 0;width: .22rem;height: .22rem;
	background: url(ico-calendar.png) no-repeat;
	-webkit-background-size: 100% 100% ;
	-moz-background-size: 100% 100% ;
	background-size: 100% 100% ;}
.ebox-info {padding-top: 0.05rem; font-size: .14rem;color: #fff;}
.manage-b .bg-on {background: #f2f2f2;}
.manage-b .red_num {color: #939393;font: .15rem/.48rem "Microsoft YaHei";}
.manage-b .red_num .last{color: #f05a39;}
.manage-b .red_num .first{color: #999;}
.manage-b .redeem_num,.manage-b .red_num,.manage-b .buy-part {float: left;}
.manage-b .red_num_right {float: right; margin-right: 0.15rem;}
.manage-b .acc-num {float: right;margin-right: .2rem;}
.manage-b .redeem_num,.manage-b .acc-num {color:#9d9d9d;}
.manage-b .buy-part {margin: .05rem 0;width:1.52rem;height: .36rem;border-radius: .05rem;border: 1px solid #b4b4b4;display: -webkit-box;display: -moz-box;display: box;}
.invest_num {float: left;font: .15rem/.48rem "Microsoft YaHei";color: #383330;}
.manage-list .txt-gray {color: #6e6a68;}
.servive-pact {padding-left: .48rem;margin: .12rem 0 .32rem 0;position: relative;color: #9d9d9d;font-size: .14rem;}
.servive-pact .pact-ico,.servive-pact .pact-on {display:block;position: absolute;left: .17rem;top:0;width: .17rem;height: .17rem;border:1px solid #d2d2d2;background: #fff;}
.servive-pact .pact-on {box-shadow: 0 0 4px rgba(0,0,0,.2);
background:url(sv_agree.png) no-repeat #fff;
-moz-background-size: 100% 100%;
-webkit-background-size: 100% 100%;
-o-background-size: 100% 100%;
background-size: 100% 100%;}
.servive-box {position: relative;}
.servive-box .servive-pact {float: left;}

.buy-part span {display: block;line-height: .36rem;font-size: .16rem;color: #9d9d9d;}
.buy-part .preva,.buy-part .nexta {-webkit-box-flex: 1;-moz-box-flex: 1; box-flex: 1;
	background: url(ico-add.png) no-repeat;
	-webkit-background-size: .78rem .36rem ;
	-moz-background-size: .78rem .36rem ;
	background-size: .78rem .36rem ;}
.buy-part .preva {background-position: 0 0;}
.buy-part .nexta {background-position: -.41rem 0;}
.buy-part .buy-num {text-align:center;-webkit-box-flex: 2;-moz-box-flex: 2;box-flex: 2;box-sizing: border-box;border: 1px solid #b4b4b4;border-width: 0 1px;background: #fff; display: block;
  width: .1rem;	
  line-height: .36rem;
  font-size: .16rem;
  color: #9d9d9d; width: }
.manage-b .bg-on {background: #f2f2f2;}


.manage-list .no-arrows{background:none;}


.exit-mask{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.5);z-index:9999;}
.exit-main {position:absolute;left: 50%;top: 30%;margin-left: -1.58rem;width:3.16rem;text-align:center;background:#fff;border-radius: 5px;z-index:9999}
.exit-main .e-ul {padding: .1rem .25rem;font-size: .15rem;line-height: .32rem;color:#363532;border-bottom:1px solid #ccc}
.exit-main .e-ul li {padding-left: .3rem;text-align:left;display: -webkit-box;display: box;}
.exit-main .e-ul li .e-name {display: block;width: 1.2rem;color: #383330;}
.exit-main .e-ul li .e-num {display: block;color: #979797;-webkit-box-flex: 1;box-flex: 1;}
.exit-main .e-ul li:last-child {margin-top: .1rem;padding-top: .05rem;border-top: 1px solid #ccc;}
.exit-main .exit-sure {display:block;text-align: center;font: .18rem/.52rem "Microsoft YaHei";color:#fff;background: #da554e;-moz-border-radius: 0 0 5px 5px;border-radius: 0 0 5px 5px;cursor: pointer;}


/*红包弹层*/
.pack-mask {position:fixed;left:0;top:0;width: 100%;height: 100%;padding-top: 1.5rem;background: rgba(0,0,0,.7);z-index:9999}
.layer-box {height: 100%;background: #e6e6e6; overflow: hidden;}
.selectBar {padding: .15rem .12rem;background: #fff;height: .3rem;line-height: .3rem;font-size: .19rem;color: #666;display: box; display: -webkit-box; position: relative; z-index: 998;}
.selectBar p {box-flex: 1;-webkit-box-flex: 1;}
.btn-done {position: absolute; right: 0.12rem;}

.scroll-boxs {position: relative;padding-top: .1rem;height: 4.3rem; }
@media only screen and (device-width: 320px) and (device-height: 480px)  {
	.scroll-boxs {height: 3.30rem;}
}

.float-box {padding-bottom: .1rem;}
.bag-box {margin: .1rem .12rem 0 .12rem;padding: .1rem;position:relative;}
.side-tag {display: none;position: absolute;left: 0;top: 0;z-index: 9999;width: 100%;height: 100%;border: .05rem solid #ff9600;border-radius: .06rem;box-sizing: border-box;-webkit-box-sizing: border-box;}
.side-tag .mark {display:block;position: absolute;left: 0;bottom: 0;z-index: 9999;width: .85rem;height: .23rem;padding: .13rem .13rem 0 0;text-align: center;color: #fff;font-size: .14rem;
	background: url(ico-select-x.png) no-repeat;-webkit-background-size: 100% 100% ;background-size: 100% 100% ;}
.bag-block {position:relative;height: 1.24rem;border-radius: .07rem;box-sizing:border-box;overflow: hidden;}
.bag-box .bag-block {border: 1px solid #bebebe;background: #bebebe;color: #f8f8f8;}
.ico-zon .bag-block {border: 1px solid #da554e;background: #da554e;color: #fff;}
.ico-selected .side-tag {display: block;}
.un-have .bag-block {border: 1px solid #bebebe;background: #bebebe;color: #f8f8f8;}


.bag-num {float: left;padding: .2rem 0 0 .15rem;width:1.5rem;font-size: .23rem;}
.bag-num b {font-size: .58rem;font-weight: normal;}
.bag-info {float: right;width: 1.6rem;padding: .15rem .05rem 0 0;}
.bag-info dt {font-size: .13rem;}
.bag-info dt h4 {font-size: .17rem;}
.bag-info dd p {padding-top: .1rem;font-size: .12rem;line-height: .18rem;}

.no-records {position: absolute;left: 0;top: 2.3rem;width: 100%;text-align: center;font: .14rem/.36rem "Microsoft YaHei";color: #c3c3c3;}
.no-records b {display: block;width: .6rem;height: .6rem;margin: 0 auto;
	background: url(ico-list.png) no-repeat;
	background-position: -.9rem -.8rem;
	-webkit-background-size: 4.14rem 5.59rem;
	background-size: 4.14rem 5.59rem;
}

/*common*/
.manage-a .acc-num {float: right;color: #454545;margin-right: .2rem;}
.manage-a li .inp-tit {color: #9d9d9d;}
.operate{margin:0 .1rem}
.oper-btn{display:block;line-height:.48rem;background:#da554e;color:#FFF;text-align:center;font-size:.19rem;border-radius:5px;}
.oper-btn-gray {background:#ccc !important;}
.ft-operate-box {position: fixed;left: 0;bottom: 0;z-index:999;width:100%;}
.ft-operate-box .oper-btn {border-radius: 0;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
input[type="number"]{-moz-appearance:textfield;}
/*common end*/

.hqb-buy {position: relative;padding: .15rem .1rem;background: #da554e;}
.hqb-buy .hqb-h3 {padding-bottom: .12rem;font-size: .24rem;font-weight: bold;color: #fff;}
.hqb-buy p {font-size: .16rem;line-height: .28rem;color: #fff;}
.hqb-buy .ico-check {display:block;position: absolute;right: .1rem;top: .2rem;padding-left: .26rem;font-size: .16rem;line-height: .22rem;color: #fff;}
.hqb-buy .ico-check:before {content: "";position: absolute;left: 0;top: 0;width: .22rem;height: .22rem;
background:url('ico-check.png') no-repeat;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.cash-input {position:relative;padding: .1rem .2rem;border: 1px solid #ccc;border-width: 1px 0;background: #fff;}
.cash-input input {display: block;width: 100%;height: .3rem;vertical-align: middle;font-size: .15rem;color: #333;border: none;background: none;}
.cash-input p {position: absolute;left: 0;bottom: -.32rem;padding: 0 4.8%;width: 91.4%;color:#f05a39;font-size: .14rem;}

.t-tips {padding: .1rem;font-size: .14rem;color: #666;}
.cash-input .b-tips {padding: 0 .1rem;color: #666;}

