
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>产品投资</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
		@require views/css/global.css
		@require views/css/style.css
	-->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
</head>
<body>
	<section id="context">
		<div class="buy_red_hd">
			<h1>体验标</h1>
			<p>预期年化收益率：0.00%</p>
			<span>0天期限</span>
		</div>
		<ul class="Infor buy_infor">
			<li class="clearfix">
				<label>购买金额</label>
				<span class="buy_txt">0.00元</span>

			</li>
			<li class="clearfix">
				<label>返现红包</label>
				<span class="buy_txt">当前不适用</span>
			</li>
		</ul>
		<p class="expect_money">预期收益0.00元</p>


	</section>
	<script type="text/javascript">
		require("pages/activity/tyj_buy/tyj_buy");
	</script>
</body>
</html>