<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>产品详情</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css 
    -->
    <script type="text/javascript" src="libs/mod.js" data-loader></script>
    <script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->

	<style type="text/css">
		html{background: #fff;}
		body{font-size: .16rem;}

		.setin{padding:0 .1rem;}
       .head{text-align: center;height:.6rem;line-height: .6rem;}

       .setin p{margin-bottom: .2rem;color: #9d9d9d;}
       .setin h5{margin: .1rem 0}
       .cp_b thead tr th{font-size: .14rem;color: #9d9d9d;font-weight: normal;height:.4rem;}

	</style>

</head>
<body>
	<div class="setin">
		<div class="head">关于体验标</div>
		<p>体验标是小牛钱罐子平台针对新用户开发的虚拟标种，用于让用户体验理财投资的各个环节。</p>
		<p>体验标到期并兑付收益后将由小牛钱罐子平台将体验金本金收回，投资产生的收益归用户所有。</p>
		<p>其他说明:</p>
		<p>新手体验金本金不可提现，收益部分直接计入帐户余额。</p>
	</div>
	<script type="text/javascript">
		require('pages/activity/tyj_detail/tyj_descr');
	</script>
</body>
</html>