<ul class="keyboard clearfix">
	<li class="btn-number" data-number="1">1</li>	
	<li class="btn-number" data-number="2">2</li>
	<li class="btn-number" data-number="3">3</li>	
	<li class="btn-number" data-number="4">4</li>
	<li class="btn-number" data-number="5">5</li>
	<li class="btn-number" data-number="6">6</li>
	<li class="btn-number" data-number="7">7</li>
	<li class="btn-number" data-number="8">8</li>
	<li class="btn-number" data-number="9">9</li>
	<li class="dropdown drop-down"><span></span></li>
	<li class="btn-number" data-number="0">0</li>
	<li class="backspace back-space"><span></span></li>
</ul>