.favour-item {padding-left: .25rem;border: 1px solid #e8eaed;border-width: 1px 0;background: #fff;}
.favour-item li {position:relative;height: .84rem;line-height: .84rem;border-bottom: 1px solid #ddd;}
.favour-item li label {position: absolute;left: 0;top: 0;padding-left: .35rem;color: #5a5a5a;font-size: .2rem;}
.favour-item li .item-p {color: #888;text-align: right;font-size: .16rem;padding-right: .5rem;}
.favour-item .li-tri:before {content: "";position: absolute;right: .25rem;top: 50%;margin-top: -.08rem;width: .1rem;height: .16rem;pointer-events: none;
background:url('ico-tri-input.png') no-repeat;background-size: contain;-webkit-background-size: contain;}
.favour-item li:last-child {border: none;}
.favour-item li .ico:before {content: "";position: absolute;left: -.08rem;top: 50%;margin-top: -.18rem;width: .42rem;height: .42rem;background: url(ico-index.png) no-repeat;
-webkit-background-size: 4.14rem 2.7rem;background-size: 4.14rem 2.7rem;}
.favour-item li .ico-pack:before {background-position: -.84rem -1.26rem;}
.favour-item li .ico-experi:before {background-position: -1.26rem  -1.26rem;}
.favour-item li .ico-ticket:before {background-position: -1.67rem -1.25rem;}

.add-box {position: relative;padding-left: .25rem;line-height: .84rem;border: 1px solid #e8eaed;border-width: 1px 0;background: #fff;}
.add-box:before {content: "";position: absolute;right: .25rem;top: 50%;margin-top: -.08rem;width: .1rem;height: .16rem;pointer-events: none;
background:url('ico-tri-input.png') no-repeat;background-size: contain;-webkit-background-size: contain;}
.add-box .ico-add {position: relative;padding-left: .35rem;color: #5a5a5a;width: 1.2rem;font-size: .2rem;}
.add-box .ico-add:before {content: "";position: absolute;left: 0;top: 50%;margin-top: -.105rem;width: .21rem;height: .21rem;background: url(ico-add.png) no-repeat;
-webkit-background-size: contain;background-size: contain;}

.favour-item li .ico:after {display: none;content: "";position: absolute;right: -.12rem;top: .32rem;margin-top: -.05rem;width: .1rem;height: .1rem;border-radius: .1rem;background: #ff4040;}
.favour-item li.active .ico:after {display: block;}