<div>
	<header class="bg-orange-linear" id="header">
		<div class="bg-wave2">
			<div class="hqb-buy">
				<h3 class="hqb-h3">{{productName}}</h3>
				<p>
					预期年化收益率：{{finalRateDesc}}%
					{{if vipInfo.isVipProduct && vipInfo.isVip}}
					+ {{vipInfo.awardRate}}%(会员)
					{{/if}}
				</p>
				{{each activityInfo}}
					<p class="mrt1">
						+{{$value.awardRate}}%({{$value.awardName}})
					</p>
				{{/each}}
				<span class="ico-deadline">{{investPeriod}}{{dateUnit}}期限</span>
			</div>
		</div>
	</header>
	<article class="mgt1">
		<section>
			{{if isNewUserMark}}
			<p class="b-tips">限购1次，最多可购{{maxInvestLimit}}元</p>
			{{/if}}
			<div class="cash-input"><input id="txt-money" type="tel" placeholder="请输入购买金额，{{minInvestLimit}}元起"></div>
			<p class="b-tips">您的账户余额为{{balance}}元<a id="btn-recharge" href="javascript:void(0);" class="pdl1 text-blue2">充值</a></p>
			<a href="javascript:void(0);" id="btn-packet">
				<div class="use-pack clearfix">
					<span class="txt fl">使用红包</span>
					<span class="num fr text-orange" id="div-redNumber">暂无可用</span>
				</div>
			</a>
			<p class="b-tips">
				预期总收益 <span id="invest-num">0.00</span>元
				{{if isShowEarnings }}
					<a id="btn-earnings" href="javascript:void(0);" class="btn-detail pdl1 text-blue2">详情</a>
				{{/if}}
			</p>
			
			<div class="operate mrt1">
				{{if isNewUserMark && !ifBuyNewProduct}}
					<a class="oper-btn oper-btn-gray" href="javascript:void(0);" title="">仅限新手</a>
				{{else if state == 0}}
					<a class="oper-btn"  id="btn-submit" href="javascript:void(0);" title="">购买</a>
				{{else}}
					<a class="oper-btn oper-btn-gray" href="javascript:void(0);" title="">{{stateText}}</a>
				{{/if}}				
			</div>
			<ul class="protocol clearfix">
				{{each protocolUri}}
					<li class="mgb1 mgr2">
						{{if $value.checked}}
							<span class="pact-ico btn-pact pact-on" data-index="{{$index}}"></span>
						{{else}}
							<span class="pact-ico btn-pact" data-index="{{$index}}"></span>
						{{/if}}						
						<p><a href="{{$value.url}}" class="text-blue2">{{$value.title}}</a></p>
					</li>
				{{/each}}				
			</ul>
		</section>
	</article>
</div>