
<article>
	<ul class="founs-listBox">
		{{each data}}
				<li class="waterfall-item">
					<div class="funds-tit">
						<h5 class="mgt15 pdb1">{{$value.transTypeDesc}}</h5>
						<p class="funds-time">{{$value.transDate}}</p>

						{{ if $value.toInvestOp == "+"}}
							<i class="pos-a fs-20">+{{$value.transAmount}}</i>
						{{else}}
							<i class="pos-a fs-20 clOrg">-{{$value.transAmount}}</i>
						{{/if}}

					</div>
					<div class="fonds-info pd150">{{$value.remark}}</div>
				</li>
		{{/each}}
	</ul>
</article>