<div>
	<header>
		<div class="hd-white">
			<div class="hd-index">
				<p class="p-name">预期年化</p>
				<div class="p-num">{{flowMinRate}}<span class="ft22">%</span>-{{flowMaxRate}}<span class="ft22">%</span></div>
				<p class="add-num">收益每月涨0.5%</p>
			</div>
			<ul class="invest-menu mgt2">
				<li><a href="javascript:void(0);">随存随取</a></li>
				<li><a href="javascript:void(0);">利息复投</a></li>
				<li><a href="javascript:void(0);">分散投资</a></li>
			</ul>
			<div class="last-credits mgt2">剩余额度：<span class="text-red">{{remaMoney}}元</span></div>
		</div>
	</header>
	<section>
		{{each activityInfo}}
			<span class="time-vip time-yel">{{$value.text}}</span>
		{{/each}}

		{{if activityInfo.length > 0}}
		<ul class="news-activity">
			{{each activityInfo}}
				<a href="{{$value.redirectUrl}}">
				<li>
					<span class="ico ico-activity">活动</span>
					<span class="news-tri">{{$value.content}}</span>
				</li>
				</a>
			{{/each}}
		</ul>
		{{/if}}
		<ul class="ul-picc">
			<li><a href="$root$/agreement/secure_detail.html"><span class="ico ico-picc1">风险备用金</span></a></li>
			<li><a href="$root$/agreement/picc.html"><span class="ico ico-picc2">PICC承保</span></a></li>
		</ul>
		<ul class="manage-list mgt05">
			<li>
				<a href="{{uri.detailUrl.redirectUrl}}" title="">{{uri.detailUrl.title}}</a>
			</li>
			<li>
				<a href="{{uri.securityUrl.redirectUrl}}" title="">{{uri.securityUrl.title}}</a>
			</li>
			<li>
				<a href="$root$/product/buy_record.html?productId={{productId}}" title="">购买记录<span class="record-num">{{buyedTotalPeople}}</span></a>
			</li>
		</ul>
	</section>
	<div class="ft-operate-boxs">
		{{if state == 0}}
			<a class="oper-btns" id="btn-submit" href="javascript:void(0);" title="">{{stateText}}</a>
		{{else}}
			<a class="oper-btns oper-btn-gray" href="javascript:void(0);" title="">{{stateText}}</a>
		{{/if}}
	</div>
</div>