/*common*/
.wrap{padding-bottom: 0.5rem;}
.manage-list{border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding-left: .2rem;background:#FFF;font-size: .16rem;}
.manage-list li,.list-copy {position:relative;border-top:1px solid #e8e8e8;line-height: .5rem;font-size: .16rem;}
.manage-list li:first-child{border:0}
.manage-list li a,.list-copy a {display:block;margin-right: .18rem;color: #939393;background:url('link-icon.png') no-repeat right center;background-size:.09rem .15rem;-webkit-background-size:.09rem .15rem;}
.manage-list li .record-num {float: right;margin-right: .2rem;color: #454545;}
.manage-a .acc-num {float: right;color: #454545;margin-right: .2rem;}
.manage-a li .inp-tit {color: #9d9d9d;}
.operate{margin:0 .1rem}
.oper-btns{display:block;line-height:.48rem;background:#da554e;color:#FFF;text-align:center;font-size:.19rem;/*border-radius:5px*/}
.oper-btn-gray {background:#ccc !important;}
.ft-operate-boxs {position: fixed;left: 0;bottom: 0;z-index:999;width:100%;}
/*common end*/
.hd-white {padding: .2rem 0;background: #fff;border: 1px solid #ccc;border-width: 1px 0;}
.hd-index {width: 2.3rem;height: 2.3rem;margin: 0 auto;text-align:center;border-radius: 2.3rem;color: #fff;background: #e34545;}
.hd-index .p-name {padding-top: .65rem;font-size: .14rem;}
.hd-index .p-num {font-size: .42rem;}
.hd-index .ft22 {font-size: .22rem;}
.hd-index .add-num {padding-top: .1rem;font-size: .14rem;}

.hd-detail {position: relative;padding: 0 .2rem;}
.hd-detail .p-name {font-size: .14rem;color: #939393;}
.hd-detail .p-num {font-size: .62rem;color: #e34545;}
.hd-detail .ft22 {font-size: .32rem;}
.hd-detail .deadline {display: inline-block;position: absolute;right: .2rem;top:0;padding: 0 .05rem;font-size: .16rem;line-height: .25rem;color: #e34545;border-radius: 3px;background: #ffd9d9;}
.hd-detail .viper {display: inline-block;position: relative;padding-right: .15rem;}
.hd-detail .mark-vip {position: absolute;right:0;top: .2rem;display: block;font-size: .12rem;color: #ff9601;}
.invest-menu {line-height: .3rem;display: -webkit-box;display: -moz-box;display: box;background: #fff;}
.invest-menu li {position:relative;width: 33.3%;text-align: center;font-size: .16rem;line-height: .3rem;color: #939393;-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;}
.invest-menu li a {color: #939393;}
.invest-menu li:before {content: "";position: absolute;right: -1px;top: 0;width: 0;height: 100%;border-left: 1px dotted #d7d7d7;}
.invest-menu li:last-child:before {display: none;}
.last-credits {text-align: center;font-size: .16rem;color: #656565;}
.ul-picc {line-height: .3rem;display: -webkit-box;display: -moz-box;display: box;background: #fff;border-bottom: 1px solid #ccc;}
.ul-picc li {width: 50%;text-align: center;font-size: .14rem;line-height: .48rem;color: #939393;-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;}
.ul-picc li .ico {position: relative;display: inline-block;padding-left: .26rem;}
.ul-picc li .ico:before {content: "";position: absolute;left: 0;top: 50%;width: .19rem;height: .19rem;margin-top: -.095rem;}
.ul-picc li .ico-picc1:before {background:url('picc1.png') no-repeat;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.ul-picc li .ico-picc2:before {background:url('picc2.png') no-repeat;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
		
.news-activity {padding-left: .2rem;line-height: .5rem;font-size: .16rem;color: #454545;background: #fff;border-bottom: 1px solid #ccc;}
.news-activity li {padding-left: .48rem;position: relative;border-bottom: 1px solid #ececec;}
.news-activity li .ico {position: absolute;left:0;top: 50%;margin-top: -.12rem;display: block;width: .4rem;height: .24rem;line-height: .24rem;text-align: center;font-size: .12rem;color: #fff;}
.news-activity li .ico-activity {background:url('ico-activity.png') no-repeat;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.news-activity li .ico-member {background:url('ico-member.png') no-repeat;background-size: 100% 100%;-webkit-background-size: 100% 100%;}
.news-activity li .news-tri {display: inline-block;padding-right: .15rem;background:url('news-tri.png') no-repeat right center;background-size: .07rem .11rem;-webkit-background-size: .07rem .11rem;}
.news-activity a:last-child li{border-bottom: none;}
		
.pro-info-detail {padding: .1rem .2rem;line-height: .35rem;font-size: .16rem;color: #939393;border: 1px solid #ccc;border-width: 1px 0;background: #fff;}
.pro-info-detail li .txt-strong {color: #454545;}

.invest-box {padding: 0 .2rem;}
.invest-timing {padding-top: .1rem;font-size: .14rem;color: #939393;display: -webkit-box;display: -moz-box;display: box;}
.invest-timing p {-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;}
.invest-timing p:last-child {text-align: right;color: #454545;}

.progressBar-box {display: -moz-box;display: -webkit-box;display: box;}
.progressBar {margin-top:.13rem;position:relative;height:.04rem;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;background: #c2c2c2;overflow: hidden;}
.progressBar-block {position: absolute;left: 0;top: 0;width: 0;height: 100%;background: #f05a39;
-webkit-transition: all .8s;transition: all .8s;}
.progressBar .per {width: 90%;}
.progressBar-result {display: block;margin: .08rem 0 0 .05rem;width: .42rem;height: .15rem;line-height:.15rem;text-align:center;font-size:.11rem;color:#fff;background: #f05a39;
-webkit-border-radius: .15rem;-moz-border-radius: .15rem;-o-border-radius: .15rem;border-radius: .15rem;}
.progressBar-box .result-zero {background: #c2c2c2;}