<div class="loadin_page">			
	<div class="slowmsg">
		<div class="ball loadings item">
			<div class="load_text">Loading...</div>
		</div>
		<div class="ball error item" style="display:none;">
			<div class="error_text">页面加载失败, 请稍后重试.<br/>点击屏幕刷新.</div>
		</div>
	</div>
</div>