<ul class="record-redeem">
	{{each data}}
	<li class="iscroll-item">
		<span class="sign-result {{$value.fStatusClass}}">{{$value.fStatusText}}</span>
		<p class="p-name">赎回金额</p>
		<p class="p-num">{{$value.fMoneyAmount}}</p>
		<p class="p-date">{{$value.fRequestTime}}</p>
	</li>
	{{/each}}
</ul>
