{{each data}}
<div class="item-box iscroll-item">
	<ul class="ul-item1 dp-box">
		<li><span>持有金额</span><span class="text-orange">{{$value.fPrincipal}}</span></li>
		<li><span>起息日</span><span>{{$value.fProfitCalcDate}}</span></li>
		<li><span>收益金额</span><span class="color-5a">{{$value.fTotalProfit}}</span></li>
	</ul>
	<div class="column-box">
		{{if $value.fRate != "11.0"}}
		<div class="ico-rateUp"><span>+0.5%</span><span class="ico"><img src="{{iconSrc}}" alt=""></span></div>
		{{/if}}
		<ul class="ul-item1 ul-item1-after dp-box">
			<li><span>当前收益率</span><span class="text-orange">{{$value.fRate}}%</span></li>
			
			{{if $value.fRate != "11.0"}}
			<li>
				<span>{{$value.rateHint2}}</span>
				<span class="color-5a">{{$value.rateHint1}}</span>
			</li>
			{{/if}}
		</ul>
	</div>
	<ul class="operate-link dp-box">
		<li class="box-flex">{{$value.tip}}</li>
		<li class="box-flex text-r"><a href="$root$/agreement/hqb_invest.html" class="text-blue3">活期宝协议</a></li>
	</ul>
</div>
{{/each}}