<ul class="hqb-tit clearfix">
	<li><span class="note-name">昨日收益（元）</span><span class="note-num">{{fProfitYesterday}}</span></li>
</ul>
<ul class="hqb-tit-copy clearfix">
	<li><span class="note-name">活期宝余额（元）</span><span class="note-num">{{fMoneyAmount}}</span></li>
	<li><span class="note-name">累计收益（元）</span><span class="note-num">{{fProfit}}</span></li>
</ul>