header{/*position: fixed;*/ width: 100%; left: 0px; top: 0px; z-index: 2;}
img{width:100%;}
.ui-viewport{/*padding-top: 2.8rem;*/}
.page-myhqb .bg-wave1 {
    background: url(bg-wave1.png) no-repeat center bottom;
    -webkit-background-size: 100% .98rem;
    background-size: 100% .98rem;
}
.page-myhqb .tips-picc a{color: #888;}
.page-myhqb .tips-picc {padding: .2rem 0;text-align: center;font-size: .14rem;}
.page-myhqb .tips-picc .ico1 {display: inline-block;padding-left: .2rem;
background:url(ico-protect-new.png) no-repeat left center;
-webkit-background-size: .17rem .17rem;background-size: .17rem .17rem;}

.page-myhqb .top-total {padding-top: .2rem;font-size: .16rem;color: #fff;}
.page-myhqb .top-total p {padding-top: .05rem;font-size: .38rem;}
.page-myhqb .total-item {padding: .15rem 0;font-size: .16rem;}
.page-myhqb .total-item li {position: relative;width: 50%;text-align: center;color: #fff;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.page-myhqb .total-item li p {padding-top: .05rem;font-size: .2rem;}
.page-myhqb .total-item li:nth-child(1):before {content: "";position: absolute;right: 0;top: 10%;width: 1px;height: 80%;background: rgba(255,255,255,.2);}
.page-myhqb .profit-total {padding: .1rem 0;text-align: center;font-size: .18rem;color: #fff;}

/*主内容区*/
.page-myhqb .invest-tabbar {padding: 0 2%;height: .52rem;line-height:.52rem;background: #fff;font-size: .18rem;}
.page-myhqb .invest-tabbar li {width: 28%;margin: 0 2%;position: relative; text-align: center;color: #5a5a5a;}
.page-myhqb .invest-tabbar li.active {color: #fd9149;}
.page-myhqb .invest-tabbar li.active:after {content: "";position: absolute;left: 10%;bottom: 0;z-index: 10;width: 80%;height: .02rem;background: #fd9149;}
.page-myhqb .tabbar-two li {width: 40%;margin: 0 4%;}

.page-myhqb .item-box {position: relative;margin-top: .15rem;padding-left: .25rem;background: #fff;}
.page-myhqb .ul-item1 {padding: .1rem 0;font-size: .16rem;color: #888;}
.page-myhqb .ul-item1 li {width: 34%;height: .62rem;margin-top:.15rem;}
.page-myhqb .ul-item1 li span {display: block;}
.page-myhqb .ul-item1 li span:nth-child(1) {padding-bottom: .1rem;color: #888;}
.page-myhqb .ul-item1 li span:nth-child(2) {font-size: .18rem;}
.page-myhqb .ul-item1 li:nth-child(3n) {width: 30%;}
.page-myhqb .ul-item1 .color-5a {color: #5a5a5a;}
.page-myhqb .ul-item1-after li:nth-child(2) {margin-left: 35%;}
.page-myhqb .column-box {border-top: 1px solid #ebebeb;position: relative;}
.page-myhqb .ico-rateUp {position: absolute;left: 32%;top: .25rem;width: .7rem;text-align: center;font-size: .14rem;line-height: 100%;color: #fd9149;}
.page-myhqb .ico-rateUp .ico {display: block;width: .53rem;margin: 0 auto;}
.page-myhqb .operate-link {padding-right: .25rem;font-size: .16rem;line-height: .5rem;color: #5a5a5a;border-top: 1px solid #ebebeb;}

.page-myhqb .opeate-fixed {position: fixed;left: 0;bottom: 0;z-index: 99;width: 100%;}  
.page-myhqb .btn-redeem {font-size: .2rem;line-height: .6rem;background: #fff;text-align: center;}
.page-myhqb .btn-redeem li a {display: block;color: #333;}
.page-myhqb .btn-redeem li.btn-on {border-top: 1px solid #fd9149;}
.page-myhqb .btn-redeem li.btn-on a {background: #fd9149;color: #fff;}
.page-myhqb .btn-redeem li:first-child {border-top: 1px solid #ebebeb;}


.page-myhqb .record-redeem {margin-top: .15rem;padding-left: .25rem;background: #fff;}
.page-myhqb .record-redeem li {position: relative;padding: .2rem 0;border-bottom: 1px solid #ebebeb;}
.page-myhqb .record-redeem li .p-name {font-size: .16rem;color: #888;padding-bottom: .1rem;}
.page-myhqb .record-redeem li .p-num {font-size: .2rem;color: #5a5a5a;}
.page-myhqb .record-redeem li .p-date {font-size: .16rem;color: #888;padding-top: .05rem;}
.page-myhqb .record-redeem li .sign-result {position: absolute;right: .25rem;top: 50%;margin-top: -.1rem;font-size: .18rem;}
.page-myhqb .record-redeem .sign-ing {color: #fd9149;}
.page-myhqb .record-redeem .sign-done {color: #61cc8f;}
.page-myhqb .record-redeem li:last-child {border: none;}
