		/*列表内容区*/
		.page-totalAssets  .total-listBox li{margin-top: .15rem;padding:.2rem 0; background:#fff;position:relative;border-bottom: 1px solid #e8eaed;border-top: 1px solid #e8eaed;}
		.page-totalAssets  .total-listBox li:before{
				content: "";
			    position: absolute;
			    right: .25rem;
			    top: 50%;
			    margin-top: -.14rem;
			    width: .14rem;
			    height: .28rem;
			    pointer-events: none;
			    background: url('ico-tri-input.png') no-repeat;
			    background-size: contain;
			    -webkit-background-size: contain;
		}
		.page-totalAssets  .total-listBox li a{display: block;}
		.page-totalAssets .ico-mu{position: absolute;left: .2rem;top: .12rem;display: block;width: .42rem;height: .42rem;background: url(ico-index.png) no-repeat;-webkit-background-size: 4.14rem 2.7rem;background-size: 4.14rem 2.7rem;}
		.page-totalAssets .total-listBox .ico-regular{background-position: -.42rem 0}
		.page-totalAssets .total-listBox .ico-yu{background-position: -.82rem -.82rem;}
		.page-totalAssets .fis-p{padding:0 0 .16rem .64rem;font-size: .18rem;color:#414654;}
		.page-totalAssets .dp-box{margin:0 .64rem;}
		.page-totalAssets .dp-box p{color: #888;}
		.page-totalAssets .dp-box .dollar_r{font-size: .22rem;padding-bottom: .06rem;color: #5a5a5a;}
		.page-totalAssets .dp-box .dollar_orange{color: #fd9149;}


		/**picc**/
		 .tips-picc {padding: .2rem 0;text-align: center;color: #939393;font-size: .14rem;}
		 .tips-picc .ico1 {display: inline-block;padding-left: .2rem;
		background:url(ico-protect-new.png) no-repeat left center;
		-webkit-background-size: .17rem .17rem;
		background-size: .17rem .17rem;}