<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>会员成长</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
		@require views/css/global.css
        @require views/css/style.css 
	-->
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="wrap">
		<section>
			<div class="redeem_sucbox bg-white mgt1">
				<ul class="redeem_suc level">
					<li class="clearfix">
						<span class="grow-img"><img /></span>
						<div class="redeem_notes "><p>在投金额达到10W元<br />登录小牛钱罐子微信版</p></div>
					</li>
					<li class="clearfix">
						<span class="grow-img"><img /></span>
						<div class="redeem_notes"><p>在投金额达到1W元<br />登录小牛钱罐子微信版</p></div>
					</li>
					<li class="clearfix">
						<span class="grow-img"><img  /></span>
						<div class="redeem_notes"><p>在投金额达到1000元<br />登录小牛钱罐子微信版</p></div>
					</li>
					<li class="clearfix">
						<span class="grow-img"><img  /></span>
						<div class="redeem_notes"><p>登录小牛钱罐子微信版</p></div>
					</li>
					<li class="clearfix">
						<span class="grow-img"><img  /></span>
						<div class="redeem_notes"><p>注册小牛钱罐子</p></div>
					</li>
				</ul>
			</div>
			<div class="faq-box bg-gray1">
				<h4>常见问题</h4>
				<dl>
					<dt>Q：如何登录小牛钱罐子微信版？</dt>
					<dd><p>A：关注小牛钱罐子微信公众号（xn-qianguanzi），在公众号中使用您的小牛钱罐子账号登录微信版即可，</p>
					<a href="specification.html" class="faq-more">查看详细说明>></a>
					</dd>
				</dl>
				<dl>
					<dt>Q：小牛钱罐子会员的有效期是多少？</dt>
					<dd><p>A：永久有效</p></dd>
				</dl>
				<dl>
					<dt>Q：在投金额如何计算？</dt>
					<dd><p>A：在投金额=活期宝购买金额+固定收益产品投资中本金+浮动收益产品投资中本金</p></dd>
				</dl>
				<dl>
					<dt>Q：在投金额减少后会员等级会下降吗？</dt>
					<dd><p>A：不会</p></dd>
				</dl>
			</div>
		</section>
	</div>
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript">
		require("pages/vip/grow/grow");
	</script>
</body>
</html>