<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>收益率加成</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
		@require views/css/global.css
        @require views/css/style.css 
	-->
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="wrap">
		<section>
			<header>
				<div class="hd-privi bg-white">
					<div class="ico-privi ico-profit"></div>
					<div class="info-name">收益率加成</div>
				</div>
			</header>
			<div class="privi-container pd015 mgt05">
				<div class="privi-box">
					<h3>特权简介</h3>
					<p>会员享有指定产品收益率加成资格，会员等级越高，加成越多。收益率加成只在获得会员特权后再投资指定产品生效</p>

					<h3 class="mgt5">享用人群</h3>
					<p>黄金会员、铂金会员</p>

					<h3 class="mgt5">特权详情</h3>
					<div class="tab-box tab2 mgt4">
						<table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#ccc">
							<thead>
								<tr>
									<th width="25%">会员等级</th>
									<th>收益率加成详情</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>黄金会员</td>
									<td class="level-text">新投资指定90天期及以上固定收益产品加0.1%收益，含：天添牛A款90天期，天添牛A款180天期，天添牛A款360天期，信托系列</td>
								</tr>
								<tr>
									<td>铂金会员</td>
									<td class="level-text">新投资指定90天期及以上固定收益产品加0.3%收益，含：天添牛A款90天期，天添牛A款180天期，天添牛A款360天期，信托系列</td>
								</tr>

							</tbody>

						</table>
					</div>


				</div>
			</div>
		</section>
	</div>
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript">
		require("pages/vip/levelPrivilege/levelPrivilege");
	</script>
</body>
</html>