<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>登录微信版说明</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
		@require views/css/global.css
        @require views/css/style.css 
	-->
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="inwrap">
		<p><img src="../views/images/topban.png" alt="" /></p>
		<div class="step-num mgt25"><span>Step.1</span></div>
		<h3>搜索小牛钱罐子<b>公众号</b>（xn-qianguanzi）</h3>
		<p><img src="../views/images/show-step1.jpg" alt="" /></p>
		
		<div class="step-num mgt25"><span>Step.2</span></div>
		<h3>在公众号首页点击<b>“关注”</b></h3>
		<p><img src="../views/images/show-step2.jpg" alt="" /></p>

		<div class="step-num mgt25"><span>Step.3</span></div>
		<h3>点击<b>“我要理财”</b></h3>
		<p><img src="../views/images/show-step3.jpg" alt="" /></p>
		
		<div class="step-num mgt25"><span>Step.4</span></div>
		<h3>输入小牛钱罐子<b>注册手机号</b></h3>
		<p><img src="../views/images/show-step4.jpg" alt="" /></p>

		<div class="step-num mgt25"><span>Step.5</span></div>
		<h3>登录成功后，提示<b>会员等级提升</b></h3>
		<p><img src="../views/images/show-step5.jpg" alt="" /></p>

		<div class="step-num mgt25"><span>Step.6</span></div>
		<h3>返回小牛钱罐子<b>客户端</b>查看会员特权详情</h3>
		<p><img src="../views/images/show-step6.jpg" alt="" /></p>

		<div class="f-btn">
			<a href="xiaoniuapp://fellowWechat?wechatId=xn-qianguanzi"><img src="../views/images/btn1.gif" alt="" /></a>
			<p>点击按钮后小牛钱罐子公众号（xn-qianguanzi）将复制到您的剪切板，您可以在微信中直接粘贴，无需手动输入</p>
		</div>
	</div>
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript">
		require("pages/vip/specification/specification");
	</script>
</body>
</html>