<h3 class="password">
	请输入您的交易密码（非银行卡密码）
</h3>
<div class="deal-password-box">
	<ul class="deal-password div-context clearfix">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<p class="found_password_red"><a class="btn-forget" href="javascript:void(0);">忘记密码？</a></p>
</div>
<ul class="exit-btn clearfix dialogs-button">
	<li class="btn-cancel">取消</li>
	<li class="btn-submit btn-gray">下一步</li>
</ul>
