<article style="display: none;">			
	<div class="masks">
		<div class="key-box keyboard-wrap">
			<div class="loading-context">
				<!-- 输入提示 -->
				<p class="deal-tits">请输入您的交易密码<span class="d-closed btn-close"></span></p>
				<ul class="deal-password div-context clearfix mgb3">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<div class="forgot-psw"><a href="javascript:void(0);" class="btn-forget">忘记密码？</a></div>
				<!-- 键盘输入 -->
				<ul class="keyboard_pwd clearfix">
					<li class="btn-number" data-number="1">1</li>	
					<li class="btn-number" data-number="2">2</li>	
					<li class="btn-number" data-number="3">3</li>	
					<li class="btn-number" data-number="4">4</li>	
					<li class="btn-number" data-number="5">5</li>	
					<li class="btn-number" data-number="6">6</li>	
					<li class="btn-number" data-number="7">7</li>	
					<li class="btn-number" data-number="8">8</li>	
					<li class="btn-number" data-number="9">9</li>	
					<li class="dropdown"></li>	
					<li class="btn-number" data-number="0">0</li>	
					<li class="backspace btn-backspace"><span></span></li>	
				</ul>
			</div>
			<div class="loading-wrap" style="display:none;">
				<p class="deal-tits">
					<span class="d-closed btn-close"></span>
				</p>
				<div class="pwd_loading mgt3">
					Loading...
				</div>
			</div>
		</div>
		
	</div>
</article>