<!doctype html>
<html style="background:#fff">
<head>
	<meta charset="UTF-8">
	<title>关于我们</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css 
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
</head>
<body>
	<div class="wrap bg-white">
		<div class="agreement">
			<section>
				<p class="t-indent">“小牛钱罐子”是小牛资本管理集团结合自身业务特色，为整合线上线下各种优质资源而推出的移动互联网投资理财应用。用户可通过应用完成账户注册、充值、理财产品购买、收益查询、资金提现等操作，并根据自身需求选择合适的理财产品。于此同时，凭借集团公司的优势，每个客户都可以在身边寻找到专职的理财经理，从而得到专家级的理财指导和贵宾级的售后服务，让您的资产在安全、舒心中稳定增长。</p>
			</section>
				<h2 class="mgt4 mgb1">关于小牛资本集团</h2>
			<section class="t-indent mgt4">
				<p>小牛资本管理集团是以投资管理、财富管理和互联网金融为主要业务的专业金融服务机构，在北京、上海、深圳设有三大管理中心，分支机构遍布全国。</p>
				<p>投资管理：通过发起设立私募股权基金、债权基金、并购基金、产业基金、证券投资基金等，为企业提供财务优化、战略梳理、产业整合、价值提升等服务，助力企业成长。</p>
				<p>财富管理：为高净值客户提供全面的财富保值、增值、资产传承、定制金融服务及个性化管家式服务。</p>
				<p>集团视人才为企业核心资本，重视人才素质提升，培养德才兼备的专业化人才，努力打造学习型团队。同时，发展成果惠及员工，关爱员工，使员工与企业共成长。</p>
				<p>秉承“以心为本，公平正义，兼容创新，卓越共成”的核心理念，为卓越而生，引领市场金融，成为全球一流金融服务企业，让人人平等享有金融服务。</p>

			</section>
		</div>
	</div>
	<script type="text/javascript">
		require('pages/product/agreement/agreement');
	</script>
</body>
</html>