<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>活期宝产品详情-常见问题</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css 
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="wrap">
		<div class="agreement">
			<section>
			<h4 class="mgt4">1. 活期宝收益率</h4>
			<table width="100%" border="1" bordercolor="#ccc" class="pact-tab1 pact-tab2">
				<thead>
					<th>持有期限</th>
					<th>预期年化收益率</th>
				</thead>
				<tbody>
					<tr>
						<td>1个月内</td>
						<td>5.50%</td>
					</tr>
					<tr>
						<td>1个月--2个月</td>
						<td>6.00%</td>
					</tr>
					<tr>
						<td>2个月--3个月</td>
						<td>6.50%</td>
					</tr>
					<tr>
						<td>3个月--4个月</td>
						<td>7.00%</td>
					</tr>
					<tr>
						<td>4个月--5个月</td>
						<td>7.50%</td>
					</tr>
					<tr>
						<td>5个月--6个月</td>
						<td>8.00%</td>
					</tr>
					<tr>
						<td>6个月--7个月</td>
						<td>8.50%</td>
					</tr>
					<tr>
						<td>7个月--8个月</td>
						<td>9.00%</td>
					</tr>
					<tr>
						<td>8个月--9个月</td>
						<td>9.50%</td>
					</tr>
					<tr>
						<td>9个月--10个月</td>
						<td>10.00%</td>
					</tr>
					<tr>
						<td>10个月--11个月</td>
						<td>10.50%</td>
					</tr>
					<tr>
						<td>11个月及以上</td>
						<td>11.00%</td>
					</tr>
				</tbody>
			</table>
			<p>说明：收益按自然月为周期递增，购买当日到下个月<span>当日前</span>一天为一个计息周期。</p>

			<h4 class="mgt4">2. 收益查看</h4>
			<p>用户可在“我的账户 - 活期宝”中查看昨日收益及累计收益，购买次日即可显示。</p>
			<h4 class="mgt4">3. 收益计算方法</h4>
			<p>收益按阶梯利率分期结算，并按日自动复投。持有第1天收益=本金*阶梯收益率1/360，持有第2天收益=（本金+持有第1天收益）*阶梯收益率1/360，持有第3天收益=（本金+持有第1天收益+持有第2天收益）*阶梯收益率1/360…..持有第n天收益=（本金+持有第1天收益+…+持有第n-1天收益）*阶梯收益率n/360。最终收益=持有第1天收益+持有第2天收益+…+持有第n天收益。</p>
			
			<div class="tab-img"><img src="/views/images/statistics1.jpg" /></div>

			<p>收益计算示例如下：</p>
			<p>1）假设4月28日购买10000元，6月10日发起赎回申请：</p>
			<p><b>2）计算方法：</b></p>
			<p>4月28日计息，6月10日不计息；</p>
			<p>持有期分两个阶段：4月28日 – 5月27日期间（共30天）按5.5%计算收益；5月28日 – 6月9日期间（共13天）按6%计算收益。</p>
			<p><b>3）计算结果：</b></p>
			<p>	第1天收益=10000*5.5%/360</p>
			<p> 第2天收益=（10000+10000*5.5%/360）*5.5/360</p>
			<p>……</p>
			<p>持有第43天收益=（10000+10000*5.5%/360+…+持有第42天收益）*6%/360</p>
			<p>最终收益 = 10000*5.5%/360+（10000+10000*5.5%/360）*5.5/360+…+（10000+10000*5.5%/360+…+持有第42天收益）*6%/360</p>

			<h4 class="mgt4">4. 收益返还方式</h4>
			<p>用户赎回成功后，一次性返还本金和收益到账户余额中。</p>

			<h4 class="mgt4">5. 购买金额限制</h4>
			<p>最小申购100元，1元递增。</p>
			<p>每人累计可购买5万元。（小牛钱罐子会根据运营情况调整限额）。</p>
			<p>购买金额不可超过产品剩余额度。</p>
			
			<h4 class="mgt4">6. 产品剩余额度更新</h4>
			<p>若有用户赎回，平台自动更新产品剩余额度。</p>	
			<p>定时发布产品新额度。</p>	

			<h4 class="mgt4">7. 购买次数限制</h4>
			<p>不限购买次数。</p>	

			<h4 class="mgt4">8. 支持次日赎回</h4>
			<p>例如用户5月1日购买，5月2日可申请赎回。</p>	

			<h4 class="mgt4">9. 赎回次数限制</h4>
			<p>不限。</p>	

			<h4 class="mgt4">10.赎回金额限制</h4>
			<p>用户可全额赎回或部分赎回持有的活期宝。</p>	
			<p>赎回金额不小于100元。</p>	
			<p>留存额度不可小于100元，小于100元时需全部赎回。</p>	

			<h4 class="mgt4">11.赎回自动匹配规则</h4>
			<p>用户申请赎回时，只需输入要赎回的金额，（小于或等于可赎回金额）无需选择赎回哪几笔投资。</p>	
			<p>系统根据用户的赎回金额，自动匹配投资记录，优先赎回收益率较低的1笔或多笔投资。（按收益规则，最近购买的收益率最低）</p>	

			<h4 class="mgt4">12.赎回到账时间</h4>
			<p>T+1日到账，即提交赎回申请后，本金及收益在次日到达账户余额。</p>

			<h4 class="mgt4">13.提现手续费</h4>
			<p>每月支持3笔免费提现，超出3笔按2元/笔收取手续费。</p>	

			<h4 class="mgt4">14.每日处理赎回申请的上限</h4>
			<p>系统每工作日处理赎回申请，每日处理的上限为全部用户持有活期宝总额的20%。</p>	


			</section>
		</div>
	
	</div>
	<script type="text/javascript">
		require('pages/product/agreement/agreement');
	</script>
</body>
</html>