<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>风险备用金计划</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css 
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="wrap bg-white">
		<div class="agreement">
			<h2 class="mgt4">《风险备用金计划》</h2>
			<section class="t-indent mgt4">
				<p>“风险备用金计划”是小牛钱罐子为了保护平台全体投资人的共同权益而建立的信用风险共担机制。平台全体投资人经过身份认证后，在平台的投资行为均适用于“风险备用金计划”，投资人无需为此支付任何费用。</p>
				<p>“风险备用金计划”是指在平台发生的适用本计划的每期产品发行时，小牛钱罐子提取一定比例的金额计入风险备用金。当投资人投资的某期产品出现逾期时，小牛钱罐子将根据“风险备用金账户使用规则”通过风险备用金向投资人垫付其当期逾期的本金和收益，小牛钱罐子则取得相应债权。</p>
				<p>“风险备用金计划”为小牛钱罐子全体投资人提供了有效的风险共担机制，分散投资风险，保障投资人的合法权益，营造小牛钱罐子安全健康的投资环境。</p>

				<p><b>“风险备用金”适用范围</b></p>
				<p>小牛钱罐子平台发行的产品均适用于“风险备用金计划”。</p>

				<p><b>“风险备用金”的计提标准</b></p>
				<p>小牛钱罐子根据各产品类型及信用等级计算风险备用金余额，按每期产品发行金额的年化0.5%—3% 的标准计提风险备用金。各产品类型及信用等级等所对应的风险备用金的计提标准和方式由小牛钱罐子制定并解释，小牛钱罐子有权根据实际业务需要对相关内容进行调整，如作修改，小牛钱罐子将及时进行披露。</p>

				<p><b>“风险备用金账户”</b></p>
				<p>“风险备用金账户”是指小牛钱罐子为全体投资人的共同利益考虑，单独开设用于储存和管理风险备用金的专款专用账户。</p>

				<p><b>“风险备用金”的用途</b></p>
				<p>“风险备用金”资金指定用于小牛钱罐子投资人在遭受产品逾期情况下，小牛钱罐子将按照“风险备用金资金使用规则”从“风险备用金账户”中提取相应资金先行垫付投资人当期应收取的本金和收益。</p>

				<p><b>“风险备用金”使用规则</b></p>

				<p>“风险备用金”资金使用遵循以下规则：</p>
				<p>（1） 违约偿付规则，即产品发生逾期后，小牛钱罐子从“风险备用金账户”中提取相应资金偿付投资人当期应收的本金和利息。产品逾期当日即启用风险备用金；</p>
				<p>（2）时间顺序规则，即通过风险备用金对逾期产品按照到期时间的先后顺序进行垫付。先垫付逾期时间发生在前的产品，后垫付逾期时间发生在后的产品。本规则适用于逾期时间不同的产品。</p>
				<p>（3）垫付比例规则，即风险备用金对同一期或多期逾期的产品按照投资人投资金额占逾期产品总额的比例进行；当风险备用金资金余额不足以覆盖全部投资人投资本金和收益时，小牛钱罐子以风险备用金余额为限依据，根据该逾期产品所有投资人待收本金和收益按比例进行分配。</p>
				<p>（4）有限垫付规则， 即风险备用金对投资人的垫付以风险备用金账户的资金总额为限。当该账户余额为零时，自动停止对投资人逾期待收本金和收益的垫付，直到该账户提取至新的风险备用金。</p>
				<p>（5）权益转让规则，即当投资人享有了风险备用金对某期产品逾期的垫付后，小牛钱罐子即取得了原投资人所享有的权利（包括但不限于应收本金、利息、收益、罚息等，有抵押、质押或其它担保的，小牛钱罐子有权处置相应的抵押物、质押物或行使其它担保权利）。</p>
				<p>（6）金额上限规则，即当风险备用金账户内金额超过当时平台上所有产品总金额的10%时，小牛钱罐子有权将超出部分转出该账户，转出部分归小牛钱罐子所有。</p>
				
				<p><b>“风险备用金”管理原则</b></p>
				<p>小牛钱罐子将审慎管理风险备用金资金，并就账户资金使用情况对投资人定期（按季度）披露。具体披露方式及解释权归小牛钱罐子所有。</p>
			</section>
		</div>
	</div>
	<script type="text/javascript">
		require('pages/product/agreement/agreement');
	</script>
</body>
</html>