<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>产品详情</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css
        @require "modules/pages/product/agreement/style.css"
    -->
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="wrap bg-white">
		<div class="doc-wrap">
			<h3 class="t-h3 pdt3">一、产品概述</h3>
			<p>闪利宝是小牛钱罐子推出的个人投融资金融服务产品。小牛钱罐子为本产品借贷关系中的借款人和出借人提供居间服务，本产品中借款人为深圳市腾利信资产管理有限公司，资金用于原债务人开立银行承兑汇票的保证金。在本产品中，原债权人某实业有限公司与原债务人深圳市深港捷国际货运代理公司已签署《产品购销合同》，并已建立交易关系，本次将其持有的应收账款债权转让给深圳市腾利信资产管理有限公司，由深圳市腾利信资产管理有限公司通过小牛钱罐子将该笔应收账款债权转让给线上出借人，并承诺到期回购，还款来源为原债务人下游企业的应收帐款，并由银行监管资金流向。</p>
			<p>本产品中的参与人包括出借人、借款人、服务机构、资金监管银行等。</p>
			<p>出借人：指因合法拥有资金，决定通过一定的投资渠道投资，自愿通过小牛钱罐子平台注册投资用户向借款人提供借款。本产品中的出借人既线上的投资人。</p>
			<p>借款人：指因日常运营资金周转需要或其他经营需要，拟寻求资金支持，现自愿通过本平台向出借人申请借款的自然人或企业。本产品中借款人即深圳市腾利信资产管理有限公司。</p>
			<p>服务机构：指为本产品提供信息发布、交易组织等交易辅助及中介等居间服务的第三方机构，即小牛钱罐子。</p>
			<p>资金监管银行：指为本产品提供资金监管的银行。</p>
			<p>闪利宝产品仅向符合中华人民共和国有关法律法规及小牛钱罐子相关规定的合格出借人和借款人提供。小牛钱罐子为借贷双方提供投融资中介服务，包括但不限于居间服务、借款需求发布、信息查询、投资咨询、交易组织等。</p>

			<h3 class="t-h3 mgt1">二、产品亮点</h3>
			<p>1、短期理财，优质资产，专业风控，全面的尽职调查；</p>
			<p>2、投资无忧，项目安全，借款资金专款专用，交易环节全程监管；</p>
			<p>3、收益稳定，PICC和银行资金监管双重保障；</p>
			<p>4、小牛资本旗下平台，专业成就价值。</p>

			<h3 class="t-h3 mgt1">四、重要说明</h3>
			<p>1、在投资本产品前，出借人应确保自身属于符合法律规定可以进行投资的合格出借人，并已完全理解本产品的性质及风险，出借人应自行判断项目的真实性和风险，并自行承担责任。
2、以上信息来自于借款人提供给小牛钱罐子的原始信息资料，借款人对其提供信息的可靠性和准确性负责。</p>
			<p>2、小牛钱罐子秉持客观、公正、严谨、透明的原则代借款人披露信息，但不保证所获得的原始信息以及披露信息的真实性、准确性和完整性。</p>
			<p>3、增信措施受托人仅以受托资产为限承担责任，对本产品不提供任何兜底或担保。</p>
		</div>	
	</div>
</body>
</html>