<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>天添牛-收益权转让协议</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css  
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="wrap bg-white">
		<div class="agreement">
			<h2 class="mgt1">收益权转让协议</h2>
			<section class="mgt3">
				<ul class="page-info">
					<li class="clearfix">甲方（受让人）：<span class="word width15 span-name"></span></li>
					<li class="clearfix">证件类型：<span class="word width15">身份证</span></li>
					<li class="clearfix">证 件 号：<span class="word width15 span-idcard"></span></li>
					<li class="clearfix">联系电话：<span class="word width15 span-mobile"></span></li>

				</ul>

				<p>乙方（出让人）： 彭钢</p>
				<p>身份证号码：430 511 1970 0515 3531</p>
				
				<p class="mgt3">鉴于：</p>
		    </section>
		    
		    <section class="t-indent">		
				<p>1、乙方作为<b class="un-line">深圳市小牛稳盈三号投资企业(有限合伙)</b>（下称“合伙企业”）的<b class="un-line">有限</b>合伙人，基于<b class="un-line">《深圳市小牛稳盈三号投资企业(有限合伙)合伙协议书》</b>，完成了相对应的合伙企业份额的认购。</p>
				<p>2、甲方（或其指定的第三方主体）自愿以本协议约定的条件受让乙方对合伙企业实缴出资额中的相对应的合伙企业出资份额的收益权（以下简称“收益权”）。为此，甲、乙双方经过充分友好协商，就乙方持有的收益权转让事宜达成如下协议：</p>
				
				<h4 class="mgt1">第一条、转让标的</h4>
				<p>本协议转让的标的：乙方享有的对合伙企业出资份额的投资收益权，该收益权与合伙企业出资份额相对应，本次转让的收益权为人民币<span class="word width07 span-amount-big"></span>（大写） ¥<span class="word width07 span-amount-small"></span>（小写）的合伙份额所对应的收益权。</p>
				<p>甲方受让乙方收益权的受让价款为人民币<span class="word width07 span-amount-big"></span>（大写）¥ <span class="word width07 span-amount-small"></span>（小写），该价款对应相同金额的合伙份额收益权。</p>

				<h4 class="mgt1">第二条、权利保证</h4>
				<p>乙方承诺：截止本协议签订之时，乙方所持有的该项<b class="un-line">有限合伙份额</b>系依法取得、合法拥有，不存在任何权属争议，也未以任何方式设置抵押、质押、保证或其他形式的担保，也无任何其他权利受限的情形。</p>
				
				<h4 class="mgt1">第三条、甲方收益权持有期限</h4>
				<p>1、甲方收益权持有期限指甲方受让并持有上述投资收益权的时间跨度，乙方根据持有期限以及预期年化收益率综合计算应享有收益。本协议收益权持有期限为：收益权受让价款到账乙方账户次日起至受让价款到账乙方账户的第<span class="word width07 span-day-num"></span>日，收益权受让价款到账当日以及收益权期限届满后乙方按本协议第四条约定进行回购的期限不作为收益权持有期限。</p>
				<p>2、乙方应于回购时向甲方一次性支付持有期限内产生的收益，收益权持有期限与预期年化收益率对照表如下：</p>
	
				<table width="100%" border="1" bordercolor="#ccc" class="pact-tab1 pact-tab2">
					<thead>
						<th>期限</th>
						<th>预期年化收益率</th>
					</thead>
					<tbody>
						<tr>
							<td>30天</td>
							<td>6%</td>
						</tr>
						<tr>
							<td>90天</td>
							<td>8%</td>
						</tr>
						<tr>
							<td>180天</td>
							<td>9%</td>
						</tr>
						<tr>
							<td>360天</td>
							<td>10%</td>
						</tr>
					</tbody>
				</table>
				<p>根据预期年化收益率计算，甲方获得的预期收益=受让乙方收益权价款金额×预期年化收益率×实际持有收益权天数/360（一年按360天计）。</p>

				<h4 class="mgt1">第四条、收益权实现及回购</h4>
				<p>1、乙方通过回购方式实现本协议中约定由甲方享有的收益权。</p>
				<p>2、 甲方收益权持有期限届满后五个工作日内，乙方应向甲方按时足额回购上述收益权。回购价格为：收益权原受让价款+收益权持有期限内依预期年化收益率所产生的收益。</p>
				<p>3、甲方收益权持有期间及甲方收益权受让价款到账乙方账户当日，甲方不可赎回或要求乙方提前回购收益权。</p>

				<h4 class="mgt1">第五条、受让价款的支付</h4>
				<p>如果甲方对上述转让标的没有异议，须于本协议签署日后 30 天内将本协议第一条中约
定的受让价款支付到乙方账户。甲方委托并授权小牛新财富管理有限公司以及小牛新财富管理有限公司指定的第三方支付机构将受让价款划付到乙方账户中。自款项到账次日，上述收益权转让即生效。</p>

				<h4 class="mgt1">第六条、声明与承诺</h4>
				<p>1、双方均具备签订及履行本协议的主体资格、权利能力和行为能力，均已取得签订与履行本协议所必须的授权、批准及许可。</p>
				<p>2、双方在本协议中所承担的义务合法有效，且不与各方承担的其他义务相冲突。</p>

				<h4 class="mgt1">第七条、保密义务</h4>
				<p>1、双方对在本协议签订与履行过程中所获得的信息、合同、资料、数据及其他商业秘密承担保密义务，除办理相关登记或批准所必需，不得向任何第三方提供或披露。</p>
				<p>2、前项所列义务不因本协议的解除、终止、失效而免除。</p>

				<h4 class="mgt1">第八条、违约责任</h4>
				<p>双方均应全面履行本协议的各项约定；如因违约造成某一方损失的，另一方应依法承担赔偿责任。</p>

				<h4 class="mgt1">第九条、争议解决</h4>
				<p>本协议的签订、履行及争议均适用中华人民共和国法律。</p>
				<p>凡与本协议有关的争议，双方应友好协商，妥善解决；协商不成的，提交华南国际经济贸易仲裁委员会，依据仲裁申请之时该会施行的仲裁规则进行仲裁。仲裁裁决是终局的，对各方均有约束力，由此产生的仲裁费、差旅费、担保费及保全费均由违约方承担。</p>

				<h4 class="mgt1">第十条、协议生效</h4>
				<p>本协议一式叁份，甲乙双方各执一份，交甲方指定的第三方<b class="un-line">（小牛新财富管理有限公司）</b>持一份，每份均具同等法律效力。本协议经甲、乙双方签字盖章之日起成立，甲方价款到达乙方账户之日起生效。未尽事宜，另行协商。</p>
			</section>

			<footer>
				<ul class="ft-sign">
					<li>
						<p>甲方：<span class="span-name"></span></p>
						<p>日期：<span class="span-date-hz"></span></p>
					</li>
					<li>
						<p>乙方：彭钢</p>
						<p>日期：<span class="span-date-hz"></span></p>
					</li>
				</ul>
			</footer>
		</div>
	</div>
	<script type="text/javascript">
		require('pages/product/agreement/agreement');
	</script>
</body>
</html>