<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>产品详情</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css 
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
</head>
<body>
	<div class="wrap ">
		<div class="agreement">
			<section class="t-indent mgt3">
				<h4 class="mgt4">1、双11特供标</h4>	
				<p>小牛钱罐子为庆祝双11，推出特供标，该款金融产品通过收益权转让的模式，让投资者以少量的资金，参与投资安全性高的资产管理计划、信托计划、有限合伙基金份额等优质资产。让人人平等享有金融服务，实现财富的快速增长。</p>

				<h4 class="mgt4">2、产品原理：</h4>	
			</section>
			<div class="tab-img mgt4"><img src="/views/images/statistics2.jpg" /></div>
		</div>
	</div>
	<script type="text/javascript">
		require('pages/product/agreement/agreement');
	</script>
</body>
</html>