<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>产品详情</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css 
        @require "modules/pages/product/agreement/style.css"       
    -->
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="wrap bg-white">
		<div class="agreement">
			<h3 class="t-h3 pdt2">一、产品概述</h3>
			<p>新手专享产品是小牛钱罐子针对新客户推出的个人定向委托投资金融服务产品。小牛钱罐子为定向委托投资关系中的委托人及受托人提供的居间服务，该产品中委托人的委托资金深圳市恒利投资产管理有限公司定向投资于管理型专项资产管理计划，以获取投资收益，并由银行监管资金流向。</p>
			<p>该产品中定向委托投资的参与人包括委托人、受托人、服务机构、资金监管银行等。</p>
			<p>委托人：指依据《定向委托投资管理协议》委托受托人进行定向投资的一方，本产品中的委托人既投资人。</p>
			<p>受托人：指接受委托人委托将其委托资产定向投资于定向委托投资标的一方，即深圳市恒利投资产管理有限公司。</p>
			<p>服务机构：指为定向委托投资业务提供信息发布、交易组织等交易辅助及中介等居间服务的第三方机构，即小牛钱罐子。</p>
			<p>资金监管银行：指为定向委托投资标的提供资金监管的银行。</p>
			<p>新手专享产品仅向符合中华人民共和国有关法律法规及小牛钱罐子相关规定的合格委托人和受托人提供。小牛钱罐子为定向委托投资业务双方提供投融资中介服务，包括但不限于居间服务、借款需求发布、信息查询、投资咨询、交易组织等。</p>

			<h3 class="t-h3 mgt1">二、产品亮点</h3>
			<p>1、短期理财，优质资产，顶级风控；</p>
			<p>2、投资无忧，PICC和银行资金监管双重保障；</p>
			<p>3、收益稳定，风险可控；</p>
			<p>4、小牛资本旗下平台，专业成就价值。</p>

			<h3 class="t-h3 mgt1">三、投资范围</h3>
			<p>依据《定向委托投资管理协议》委托人自愿将合法所有的资金委托给深圳市恒利投资产管理有限公司作为定向委托投资标的管理型专项资产管理计划。定向委托投资标的投资范围为委托贷款、信托计划（含信托受益权）、基金公司及子公司发行的特定/专项资产管理计划、证券公司发行的资产管理计划、商业银行理财产品、基金公司货币基金、票据收益权、银行存款等。</p>

			<h3 class="t-h3 mgt1">四、重要说明</h3>
			<p>1、在投资本项目前，委托人应确保自身属于符合法律规定可以进行投资的合规投资人，并已完全理解本项目的性质及风险，并知悉平台如实将项目信息发布至平台，委托人应自行判断项目的真实性和风险，并自行承担责任。</p>
			<p>2、增信措施受托管理人仅以受托资产为限承担责任，对本产品不提供任何兜底或担保。</p>
			<p>3、如定向委托投资总金额持续低于本公司预期金额且依据本公司合理判断持续该等定向委托投资在商业上已经不再经济合理或因国家法律、政策变动或监管要求等原因，本公司有权单方面解除定向委托投资关系，并依据委托人定向委托投资资产实际价值退回委托人定向委托投资资金，届时本公司应至少提前3个工作日通知委托人定向委托投资项目终止事宜。</p>
		</div>	
	</div>
</body>
</html>