<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>小牛钱罐子定向委托投资协议</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css        
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="wrap bg-white page-entrust">
		<div class="agreement">
			<h2 class="mgt1">小牛钱罐子定向委托投资协议</h2>
			<section>
				<p class="t-indent">为了保障您的自身权益、防范投资风险，请于注册或投资前仔细阅读并完全理解本协议的全部内容以及与小牛钱罐子新手专享产品相关的全部产品规则，其中用粗字体予以标注的，是与您的权益有或可能具有重大关系，及对本公司具有或可能具有免责或限制责任的条款，请您充分知悉并了解小牛钱罐子新手专享产品的运作规则、投资范围以及本协议约定的三方的权利、义务和责任。您必须在不加修改地无条件完全接受本协议所包含的条款、条件和小牛钱罐子平台已经发布的或将来可能发布的各类规则，并且遵守有关互联网或小牛钱罐子平台的相关法律、规定与规则的前提下，才能进入用户注册程序。您只有成功注册成为小牛钱罐子平台用户后，才能使用平台提供的用户服务。根据《中华人民共和国合同法》，如您通过进入注册程序并点击相应确认按钮，即表示您与小牛钱罐子平台已达成协议，自愿接受协议及其相关附件所有的条款；此后，您不得以未阅读本服务条款内容作任何形式的抗辩，也不得以未签署书面协议为由否认本协议的效力。一旦加入本投资计划即视为对本协议全部条款及相关业务规则已充分理解并完全接受。</p>
				<p class="t-indent">请注意：本协议约定仅限于您与甲乙双方因本协议及相关附属协议或规则所产生的法律关系及法律纠纷，不涉及您与小牛钱罐子平台的其他用户之间因网上交易而产生的法律关系及法律纠纷。</p>
				<ul class="page-info">
					<li class="clearfix">委托人（甲方）：<span class="word width15 span-name"></span></li>
					<li class="clearfix">小牛钱罐子注册手机号：<span class="word width15 span-mobile"></span></li>
					<li class="clearfix">身份证号码：<span class="word width15 span-idcard"></span></li>

				</ul>

				<ul class="page-info mgt3">
					<li class="clearfix">受托人（乙方）：深圳市恒利投资产管理有限公司</li>
					<li class="clearfix">统一社会信用代码：91440300350002073R</li>
					<li class="clearfix">住所：深圳市福田区沙头街道深南大道本元大厦24A</li>

				</ul>

				<ul class="page-info mgt3">
					<li class="clearfix">居间人（丙方）：深圳市前海小牛网络科技有限公司</li>
					<li class="clearfix">注册号：440301112432433</li>
					<li class="clearfix">地址：深圳市前海深港合作区前湾一路1号A栋201室（入驻深圳市前海商务秘书有限公司）</li>

				</ul>
				
		    </section>
		    
		    <section class="t-indent">		
		    	<p>在甲方已经充分了解并清楚知晓小牛钱罐子新手专享产品有关风险的前提下，甲方通过丙方的小牛钱罐子平台委托乙方将其资金进行委托投资等相关事项，经双方协商一致，达成如下协议：</p>
		    	<p><b>风险提示如下：</b></p>
				<p>1、投资风险：本定向委托投资管理计划不同于银行储蓄，甲方既可能分享投资所产生的收益，也可能承担投资所带来的损失。甲方应判断本投资计划与其自身风险承受能力、其资产管理需求是否相匹配后，自行决定是否加入本投资计划。</p>
				<p>2、市场风险：本定向委托投资管理计划在运作过程中可能面临各种市场风险，乙方并不保证本投资计划一定会产生盈利，亦不保证最低收益。</p>
				<p>3、政策风险：本定向委托投资管理计划依据现行相关法律法规和政策设计，如相关法律法规、政策等发生变化，可能影响本投资计划的正常进行，甚至终止本投资计划。</p>
				<p>4、信息传递风险：本定向委托投资管理计划存续期内，乙方可根据本协议约定对本协议及相关规则进行调整，甚至终止本投资计划。届时，乙方将在小牛钱罐子（包括但不限于官网公告、站内信、手机平台等方式）进行公布。甲方应根据本协议所载的公告方式及时查询相关信息，如因甲方未及时查询，或通讯故障、系统故障以及其他不可抗力等因素的影响使得甲方未能及时了解到相关调整，由此产生的责任和风险由甲方自行承担。</p>
				<p>5、不可抗力风险：由于自然灾害、战争、社会动乱、罢工、非因小牛钱罐子原因引起的网站及相关第三方的设备、系统出现故障或缺陷、病毒、黑客攻击、网络故障、网络中断等不可抗力因素的出现，将严重影响本投资计划的正常运行。</p>
				
				<h4 class="mgt1">一、名词解释：</h4>
				<p>在本协议中，除非本协议上下文另有解释，下列词语具有以下含义：</p>
				<p>1.1 小牛钱罐子：指为甲、乙双方进行本协议投资交易提供居间服务的APP平台，丙方即深圳前海小牛网络科技有限公司拥有该平台的经营权。</p>
				<p>1.2 小牛钱罐子帐户：指甲方以自身名义在小牛钱罐子注册后系统自动产生的虚拟账户，可以通过第三方支付机构或其他通道进行充值或提现。</p>
				<p>1.3 委托人（甲方）：指成功注册为小牛钱罐子帐户的会员，依据本协议委托乙方定向投资的全体委托方或其中任何一方 (视情况)，包括本协议中的甲方，且具有完全民事权利和民事行为能力的自然人。</p>
				<p>1.4 受托人（乙方）：指依据本协议接受委托人委托将其委托资产定向投资于定向委托投资标的受托方，即为乙方，本合同中乙方指深圳市恒利投资产管理有限公司。</p>
				<p>1.5 合作机构：指与丙方建立合作关系的机构，包括但不限于第三方支付机构、投资公司、小额贷款公司、融资性担保公司等。</p>
				<p>1.6 资金监管银行：指为定向委托投资标的提供资金监管的银行。</p>
				<p>1.7 计息资金：指甲方在本协议项下的委托给乙方的资金中已开始计算收益的资金。</p>
				<p>1.8 加入资金：指甲方加入到本投资计划的资金。</p>
				<p>1.9 本平台专注为有理财需求的委托人（即甲方）和有理财渠道的受托人（即方乙）搭建一个安全、透明、便捷的理财网络交易中介平台，为注册用户提供投资咨询、财务规划、投资管理等咨询服务，以及委托人推荐、投后信用管理等服务。在注册和使用本平台服务期间，您应提供您自身的真实、最新、有效及完整的信息资料并保证自您注册之时起至您使用本平台服务的所有期间，其所提交的所有资料和信息（包括但不限于电子邮件地址、联系电话、联系地址、邮政编码、个人身份信息）有效性及安全性。</p>
				<p>1.10 定向委托投资或委托投资：是指甲方自愿将合法所有的资金通过小牛钱罐子APP平台委托给乙方定向投资于定向委托投资标的。通过对定向委托投资的管理，以获取投资收益，包括甲方首次委托投资以及之后的追加委托投资。</p>
				<p>1.11 定向委托投资范围：是指在委托期限内，为了达到预期收益率，乙方将该甲方的加入资金投资于委托贷款、信托计划（含信托受益权）、基金公司及子公司发行的特定/专项资产管理计划、证券公司发行的资产管理计划、商业银行理财产品、基金公司货币基金、票据收益权、银行存款等范围。</p>
				<p>1.12 锁定期：每笔定向委托投资资金从定向委托投资生效日至可发出提取申请体现的期间，在该等期间内，受托人不接受相应委托资金及对应定向委托投资资产价值的提取申请。本协议项目下的每笔委托资金的锁定期为7个自然日。</p>
				<p>1.13 预期收益：甲方知悉、了解并同意，乙方在丙方的小牛钱罐子APP平台宣传页面显示的与本投资计划相关的收益，该收益均为预期收益，丙方未以任何方式对委托资金的本金及预期收益进行承诺或担保，甲方的委托资金存在因各种原因不能够全额收回的风险（见风险提示部分）；同时，在实际收益未达到预期收益的情况下，甲方仅能收取其当笔加入资金所对应的实际收益。</p>
				<p>1.14 收益结算：本协议项下乙方每笔委托资金，自加入次日计息，产品到期后一次性还本付息，本息将返还至乙方小牛钱罐子账户中。</p>
				<p>1.15 甲方在本投资计划中的加入资金总额、变动情况、收益等以甲方小牛钱罐子账户记录为准。</p>

				<h4 class="mgt1">二、定向委托投资</h4>
				<p>2.1 甲方自愿将合法所有的资金通过小牛钱罐子APP平台全权委托给乙方投资于定向投资标的，以期获取收益。</p>
				<p>2.2 定向委托投资的资产价值均来自于定向委托投资标的所产生的收益。</p>
				<p>2.3 定向委托投资资金的投资范围限于本协议委托投资范围中列明的标的。甲方同意并承认，乙方以乙方自己的名义根据本协议履行定向委托投资资金的投资行为。</p>
				<p>2.4 委托资金的冻结，甲方点击“购买”按钮（具体以APP显示为准）确认后，即视为甲方已经向乙方发出不可撤销的授权指令，并授权丙方委托相应的第三方支付机构及丙方开立监管账户的监管银行等合作机构，在甲方小牛钱罐子账户中，冻结等同于甲方当笔加入资金数额金额的资金。上述冻结将会在丙方为甲方进行当笔加入资金的划转时解冻。</p>
				<p>2.5 丙方将在任意一笔委托资金全部冻结后的当日（包含周末及节假日）内按照时间先后顺序协助乙方将委托资金转入乙方指的投资账户。</p>
				<p>2.6 本协议项下，每笔定向委托投资资金的锁定期为<b>7个自然日</b>，即每笔定向委托投资资金在生效日后7日内，受托人不接受相应委托资金及对应定向委托投资资产价值的提取申请。</p>
				<p>2.7 本协议项下甲方每笔委托资金，自<b>投资次日计息</b>，收益将在产品到期后次性返还至乙方小牛钱罐子账户中。甲方有权提取的定向委托投资金额以乙方依照定向委托投资资产价值提供的可提取金额为限。</p>

				<h4 class="mgt1">三、本协议的成立及生效</h4>
				<p>3.1 本协议成立：甲方按照丙方小牛钱罐子的规则，在购买相关产品前，通过在小牛钱罐子APP平台上勾选“我同意《小牛钱罐子定向委托投资协议》”以及点击“购买”按钮（具体以APP显示为准）确认后，即视为甲乙丙三方已达成协议，并同意接受本协议的所有约定内容以及小牛钱罐子平台上所包含的其他与本协议有关的各项规则或协议的规定及小牛钱罐子平台发布的与本产品相关的规则、信息等。</p>
				<p>3.2 协议生效：甲方在小牛钱罐子APP平台上勾选“我同意《小牛钱罐子定向委托投资协议》”以及点击“购买”按钮（具体以APP显示为准）确认后，丙方并按照协议要求将委托资金转入投资账户后本协议生效。</p>
				
				<h4 class="mgt1">四、收益及实现方式</h4>
				<p>4.1 预期收益：按本协议1.13条约定计算。</p>
				<p>4.2 收益起算时间：投资次日即开始计算。</p>
				<p>4.3 封闭期内乙方不接受相应委托资金及对应定向委托投资资产价值的赎回申请。封闭期届满后，乙方将按约定一次性将投资本金及所产生的收益支付到丙方指定的账户，再由丙方划转至甲方对应帐户内，上述完成后本协议终止。</p>

				<h4 class="mgt1">五、甲乙丙三方的权利义务</h4>
				<p>5.1 <b>甲方的权利和义务</b></p>
				<p>5.11 甲方自定向委托投资生效日起，享有定向委托投资管理关系中委托人享有的相关权利, 并有权按照本协议的约定取得其定向委托投资产生的收益。</p>
				<p>5.12 甲方保证定向委托投资资金的来源合法；甲方声明已充分理解本协议全文，了解相关权利义务，了解有关法律法规及定向委托投资标的的风险收益特征，愿意承担相应的委托投资风险。</p>
				<p>5.13 甲方接受乙方提供的委托投资服务，并同意全权委托乙方对委托资金进行定向投资和操作并对有此可能产生的损失承担责任。</p>
				<p>5.14 甲方不得违反本协议的约定干涉乙方的投资行为。</p>
				<p>5.15 与本协议项下委托投资收益相关的应缴税款由甲方依法自行申报并缴纳，乙方不进行任何形式的代扣代缴。</p>
				<p>5.16 甲方同意，甲方提出定向委托投资申请后，甲方在其小牛钱罐子账户中的资金即被冻结；甲方同意并授权在定向委托投资申请提交后，乙方有权要求在小牛钱罐子APP平台协助下从甲方的小牛钱罐子账户中扣收本协议项下委托资金至特定银行监管账户。因甲方原因造成乙方收款专户未能按约定收到甲方支付的委托资金的，乙方不承担任何责任，相关定向委托投资不成功的风险由甲方自行承担。</p>
				<p>5.2 <b>乙方的权利和义务</b></p>
				<p>5.21 乙方将及时告知甲方任何其知道的影响甲方在本协议项下权利或者甲方履行本协议项下义务的信息。</p>
				<p>5.22 乙方应按照本协议的约定对定向委托投资资金进行定向投资运作。</p>
				<p>5.23 对于乙方提供之服务，乙方可向委托人收取一定费用，具体费用标准乙方将委托丙方的小牛钱罐子APP平台发布，甲方继续委托资金及接受乙方受托投资管理服务的，即视为接受该等收费标准。</p>
				<p>5.24 乙方可将发行机构及定向委托投资标的相关信息授权丙方的小牛钱罐子APP平台向甲方进行信息披露，披露的形式包括但不限于电子邮件、在小牛钱罐子网上发布公告、书面信函等。</p>
				<p>5.25 委托投资期限内，乙方将对如下事件的信息向甲方履行披露义务：</p>
				<p>（1） 定向委托投资确认通知：当甲方经丙方的小牛钱罐子APP平台通过网络在线点击的方式有效提交定向委托投资申请,且乙方确认接受该等定向委托投资申请后，乙方通过丙方的小牛钱罐子APP平台向甲方通知接受甲方的定向委托投资，通知内容包括甲方此次定向委托资金金额、委托投资生效日投资收益起算日等。</p>
				<p>（2） 提取定向委托投资到账通知：当定向委托资金及收益到达甲方小牛钱罐子账户后，乙方通过丙方的小牛钱罐子APP平台通知甲方提取定向委托投资到账。</p>
				<p>（3） 定向委托投资和提取定向委托投资未成功通知：因各种原因导致定向委托投资或提取定向委托投资不成功的，乙方应通过丙方的小牛钱罐子APP平台通知甲方，通知中应说明定向委托投资或提取定向委托投资不成功的原因。</p>
				<p>5.26 乙方可以自己的名义，行使定向委托投资过程中产生的包括权属登记等内容的权利。</p>
				<p>5.27 乙方应将全体委托人的委托财产与乙方自有资产、不同客户的资产分别管理、分别记账、独立核算。</p>
				<p>5.28 乙方应保存委托投资管理业务活动的全部会计资料，并妥善保存有关的合同、协议、交易记录及其他相关资料。</p>
				<p>5.29 如定向委托投资总金额持续低于乙方预期金额且依据乙方合理判断持续该等定向委托投资在商业上已经不再经济合理或因国家法律、政策变动或监管要求等原因，乙方有权单方面解除定向委托投资关系，并依据委托人定向委托投资资产实际价值退回委托人定向委托投资资金，届时乙方应至少提前3个工作日通知甲方定向委托投资项目终止事宜。</p>
				<p>5.210 乙方应恪守勤勉尽责的职业操守，严格依照委托人的委托进行定向委托投资。</p>
				<p>5.3 <b>丙方的权利和义务 </b></p>
				<p>5.31 丙方应当按照本协议的规定，为甲、乙双方提供居间服务，履行诚实、信用、谨慎、有效的管理义务；</p>
				<p>5.32 丙方有义务对甲方的资格进行评估、筛选，最终决定是否将甲方推荐给乙方；</p>
				<p>5.33 丙方提供居间管理服务，有权向甲乙双方收取本协议项下的服务费用；</p>
				<p>5.34 丙方应积极配合乙方进行细心披露，并按照本协议及乙方的要求履行定期披露义务；</p>
				<p>5.35 丙方推荐的乙方对甲方违约时，丙方根据甲方进行催收和追讨的需求提供必要的协助；</p>
				<p>5.36 丙方须对甲、乙双方个人信息、资产情况及本协议项下所涉其他服务相关情况和资料依法保密；</p>
				<p>5.37 丙方应妥善保存与甲、乙方资产相关的全部资料以备查阅，保存期限为本协议存续期间及本协议终止之日起5年。</p>
	
				<h4 class="mgt1">六、通知</h4>
				<p>6.1 本协议任何一方根据本协议约定做出的通知或文件均应以书面形式做出，可由专人送达、挂号邮递、特快专递、或通过丙方小牛钱罐子APP平台发布等方式传送。</p>
				<p>6.2 通知在下列日期视为送达： </p>
				<p>（1）专人递送的通知，在专人递送之交付日为有效送达； </p>
				<p>（2）以挂号信（付清邮资）发出的通知，在寄出（以邮戳为凭）后的五个工作日内为有效送达；</p>
				<p>（3）以特快专递（付清邮资）发出的通知，在寄出（以邮戳为凭）后的三个工作日内为有效送达；</p>
				<p>（4）以传真或电子邮件发出的通知，在电子信息反馈为送达后一个工作日内为有效送达； </p>
				<p>（5）通过小牛钱罐子网络平台发布的方式通知的，在小牛钱罐子网络平台发布之日为有效送达。 </p>

				<h4 class="mgt1">七、本协议的修改及终止</h4>
				<p>7.1 甲、乙、丙三方均确认，本协议的签订、生效和履行以不违反法律为前提。如果本协议中的任何一条或多条被有关政府部门认定为违反所须适用的法律、法规，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。</p>
				<p>7.2 <b>甲方同意乙方有权根据国家法律法规、监管政策、自律规定、市场变化等对本协议及与本协议相关的规则进行调整，甚至终止本投资计划。调整或修改后的协议内容及相关业务规则将在丙方小牛钱罐子（包括但不限于手机平台、官网公告、站内信等方式）进行公布并立即生效，无需乙方另行通知甲方。如甲方继续使用本投资计划的即被视为接受修改或调整，并受修改或调整后的协议及相关业务规则的约束。</b></p>
				<p>7.3 <b>甲方同意，在乙方终止本投资计划时，甲方持有的本投资计划项下加入资金将全部退回至甲方小牛钱罐子账户。</b></p>
				<p>7.4 本协议的任何修改、补充均须以小牛钱罐子电子文本形式更换新版本作出。</p>

				<h4 class="mgt1">八、其他</h4>
				<p>8.1 本协议以电子文本形式在小牛钱罐子平台上自动生成。</p>
				<p>8.2 如甲乙丙三方在本协议履行过程中发生任何争议，应友好协商解决；<b>如协商不成，则须提交华南国际经济贸易仲裁委员会进行仲裁。</b></p>
				<p>8.3 <b>与本协议相关的其他具体操作规则以小牛钱罐子APP平台展示为准，并作为本协议的附件，如具体规则与本协议存在矛盾之处，以具体规则为准。</b>甲方同意本协议即视为同时同意本协议相关附件。</p>
				<p>申明：甲乙丙三方确认在签署本协议前已仔细阅读了本协议及相关附件，对本协议的所有条款及相关附件的内容已经阅悉，均无异议，并对三方的合作关系、有关权利、义务和责任条款的法律含义达成充分的理解，对所提示的风险有充分的了解和预期，接受因签署本协议所产生的义务及风险。</p>
				<p>（以下无正文）</p>
			</section>
		</div>	
	</div>
	<script type="text/javascript">
		require('pages/product/agreement/agreement');
	</script>
</body>
</html>