<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>安全保障</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css  
        @require "modules/pages/product/agreement/style.css"
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="wrap bg-white">
		<div class="agreement">
			<section class="t-indent mgt4">
				<p>1、专项资产管理计划为风险极低，稳定收入回报的金融产品，并适用于小牛钱罐子风险备用金计划（<a href="$root$/agreement/secure_detail.html">查看详情>></a>）；</p>
				<p>2、交易资金安全，由第三方支付机构监管；</p>
				<p>3、帐户资金安全，由中国人民财产保险股份有限公司保障。</p>
			</section>
		</div>
	
	</div>
</body>
</html>