<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>资管一号-产品说明</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css  
        @require "modules/pages/product/agreement/style.css"
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
</head>
<body>
	<div class="wrap bg-white">
		<div class="agreement">
			
			<section class="t-indent mgt4">
				<h4>一、“天添牛—资管1号“产品概述</h4>
				<p>天添牛—资管1号”是小牛钱罐子推出的个人投融资金融服务产品。产品中所指的资产管理计划是由华润元大基金管理有限公司发行的华润元大小牛1号专项资产管理计划。在“天添牛—资管1号”产品中，投资人的资金定向投资于华润元大基金管理有限公司发行的专项资产管理计划中，并由银行监管资金流向，基于上述特性及操作过程管理，“天添牛—资管1号”为低风险金融产品。</p>
				<p>“天添牛—资管1号”产品仅向符合中华人民共和国有关法律法规及小牛钱罐子相关规定的合格投资人提供。小牛钱罐子为定向委托投资业务双方提供投融资中介服务，包括但不限于居间服务、借款需求发布、信息查询、投资咨询、交易组织等。</p>
				
				
				<h4>二、“天添牛—资管1号“产品亮点</h4>
				<p>1、优质资产，顶级风控；</p>
				<p>2、投资无忧，引入基金管理公司和银行资金监管双重保障；</p>
				<p>3、收益稳定，风险可控；</p>
				<p>4、小牛资本旗下平台，专业成就价值。</p>

				<h4>三、重要说明</h4>
				<p>1、在投资本项目前，投资人应确保自身属于符合法律规定可以进行投资的合规投资人，并已完全理解本项目的性质及风险，并知悉平台如实将产品信息发布至平台，投资人应自行判断产品信息的真实性和项目风险，并自行承担责任。</p>
				<p>2、增信措施受托管理人仅以受托资产为限承担责任，对本借款不提供任何兜底或担保。</p>
			</section>		
		</div>
	
	</div>
</body>
</html>