<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>收益权转让协议</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css 
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="wrap bg-white">
		<div class="agreement">
			<h2 class="mgt4">收益权转让协议</h2>
			<section class="mgt3">
				<ul class="page-info">
					<li class="clearfix">甲方（受让人）：<span class="span-name"></span></li>
					<li class="clearfix">证件类型：身份证</li>
					<li class="clearfix">证 件 号：<span class="span-idcard"></span></li>
					<li class="clearfix">联系电话：<span class="span-mobile"></span></li>

				</ul>

				<p>乙方（出让人）： 彭钢</p>
				<p>身份证号码：430 511 1970 0515 3531</p>
				
				<p class="mgt3">鉴于：</p>
		    </section>
		    
		    <section class="t-indent">		
				<p>1、乙方作为<b class="un-line">深圳市小牛慧盈二号投资企业(有限合伙)</b>（下称“合伙企业”）的<b class="un-line">有限</b>合伙人，基于<b class="un-line">《深圳市小牛慧盈二号投资企业(有限合伙)合伙协议书》</b>，完成了相对应的合伙企业份额的认购。</p>
				<p>2、甲方（或其指定的第三方主体）自愿以本协议约定的条件受让乙方对合伙企业实缴出资额中的相对应的合伙企业出资份额的收益权（以下简称“收益权”）。为此，甲、乙双方经过充分友好协商，就乙方持有的收益权转让事宜达成如下协议：</p>
				
				<h4 class="mgt4">第一条、转让标的</h4>
				<p>本协议转让的标的：乙方享有的对合伙企业出资份额的投资收益权，该收益权与合伙企业出资份额相对应，本次转让的收益权为人民币<span class="word width07 span-amount-big"></span>（大写） ¥<span class="word width07  span-amount-small"></span>（小写）的合伙份额所对应的收益权。</p>
				<p>甲方受让乙方收益权的受让价款为人民币<span class="word width07 span-amount-big"></span>（大写）¥ <span class="word width07 span-amount-small"></span>（小写），该价款对应相同金额的合伙份额收益权。</p>

				<h4 class="mgt4">第二条、权利保证</h4>
				<p>乙方承诺：截止本协议签订之时，乙方所持有的该项<b class="un-line">有限合伙份额</b>系依法取得、合法拥有，不存在任何权属争议，也未以任何方式设置抵押、质押、保证或其他形式的担保，也无任何其他权利受限的情形。</p>
				
				<h4 class="mgt4">第三条、甲方收益权持有期限</h4>
				<p>1、甲方收益权持有期限指甲方受让并持有上述投资收益权的时间跨度，乙方根据持有期限以及预期年化收益率综合计算应享有收益。本协议收益权持有期限为：自甲方支付受让价款次日起至甲方支付受让价款后的产品清算日止。</p>
				<p>2、乙方应于回购时向甲方一次性支付持有期限内产生的到期总收益， 到期总收益的计算如下：</p>

				<h4 class="mgt4">到期总收益＝预期收益＋浮动收益；</h4>
				<p>3、预期年化收益率参考下表，并可由乙方根据投资情况及市场情况进行调整：</p>
	
				<table width="100%" border="1" bordercolor="#ccc" class="pact-tab1 pact-tab2 mgt4">
					<thead>
						<th>A 类产品（ 1 年） <br>
  预期年化收益率</th>
						<th>B 类产品（ 6 个月） <br>
  预期年化收益率</th>
  						<th>C 类产品（ 3 个月） <br>
  预期年化收益率</th>
					</thead>
					<tbody>
						<tr>
							<td>7%</td>
							<td>6%</td>
							<td>7%</td>
						</tr>
					</tbody>
				</table>
				
				<p>（ 1）预期收益=认购本金×预期年化收益率×实际投资时间</p>
				<p>（ 2）预期收益分配</p>
				<p>每季度支付，按实际投资时间计算。</p>

				<p>4、浮动收益</p>
				<p>浮动收益与沪深 300 指数（代码： 000300）在观察期内的表现相关。</p>
				<p>（ 1）乙方有权可选择 I 类投资策略（双向涨跌策略）或 II 类投资策略（单向看涨策略）。</p>
				<p>（ 2）计算方法</p>
				<p>浮动收益=认购本金×浮动年化收益率×投资时间（即产品期限）</p>

				<p>设在观察期内沪深 300 指数每个交易日的收盘价较期初价格的涨跌幅为 Y<span class="txt-down">K</span>（ K=1,2,„），
				期末价格为 Y<span class="txt-down">T</span>。其中 Y<span class="txt-down">90</span>、 Y<span class="txt-down">180</span>、 Y<span class="txt-down">360</span> 分别对应 3 个月、 6 个月，一年期产品。</p>
				<p>I 类投资策略（双向涨跌策略）浮动收益参考下表： <strong>（浮动收益可由乙方根据市场情况、
				投资情况及产品期限进行调整）：</strong></p>
				
				<table width="100%%" border="1" bordercolor="#ccc" cellspacing="0" cellpadding="0" class="pact-tab1 pact-tab2 mgt4">
				  <tr>
				    <td colspan="2">涨跌幅度</td>
				    <td>3 个月</td>
				    <td>6 个月</td>
				    <td>12 个月</td>
				  </tr>
				  <tr>
				    <td rowspan="3">-8%≤Y<span class="txt-down">K</span>≤22%</td>
				    <td>5%＜Y<span class="txt-down">T</span>≤22%</td>
				    <td>Y<span class="txt-down">90</span>－ 5%</td>
				    <td>Y<span class="txt-down">180</span>－ 5%</td>
				    <td>Y<span class="txt-down">360</span>－ 5%</td>
				  </tr>
				  <tr>
				    <td>-8%≤Y<span class="txt-down">T</span>＜-5%</td>
				    <td>| Y<span class="txt-down">90</span>|－ 5%</td>
				    <td>| Y<span class="txt-down">180</span>|－ 5%</td>
				    <td>| Y<span class="txt-down">360</span>|－ 5%</td>
				  </tr>
				  <tr>
				    <td>-5%≤Y<span class="txt-down">T</span>≤5%</td>
				    <td>0</td>
				    <td>0</td>
				    <td>0</td>
				  </tr>
				  <tr>
				    <td>Y<span class="txt-down">K</span>＜-8%或</td>
				    <td>&nbsp;</td>
				    <td>0</td>
				    <td>0</td>
				    <td>0</td>
				  </tr>
				  <tr>
				    <td>Y<span class="txt-down">K</span>＞22%</td>
				    <td> </td>
				    <td> </td>
				    <td> </td>
				    <td> </td>
				  </tr>
				</table>

				<p>II 类投资策略（单向看涨策略）浮动收益参考下表： <strong>（浮动收益可由乙方根据市场情况、
				投资情况及产品期限进行调整） ：</strong></p>
				<table width="100%%" border="1" bordercolor="#ccc" cellspacing="0" cellpadding="0" class="pact-tab1 pact-tab2 mgt4">
				  <tr>
				    <td>涨跌幅度</td>
				    <td>3 个月产品</td>
				    <td>6 个月产品</td>
				    <td>12 个月产品</td>
				  </tr>
				  <tr>
				    <td>5%≤Y<span class="txt-down">T</span>≤15%</td>
				    <td>Y<span class="txt-down">90</span>－ 5 %</td>
				    <td>Y<span class="txt-down">180</span>－ 6 %</td>
				    <td>Y<span class="txt-down">360</span>－ 7 %</td>
				  </tr>
				  <tr>
				    <td>Y<span class="txt-down">T</span>＞15%</td>
				    <td>5%</td>
				    <td>5%</td>
				    <td>5%</td>
				  </tr>
				  <tr>
				    <td>Y<span class="txt-down">T</span><5%</td>
				    <td>0</td>
				    <td>0</td>
				    <td>0</td>
				  </tr>
				</table>

				<h4 class="mgt4"><b>注：</b></h4>
				<p>i. 观察期：拟定为起始日（ XXXX 年 XX 月 XX 日）至结束日（ XXXX 年 XX 月 XX日）。普通合伙人有权根据市场情况对观察期起始日进行调整，原则上调整幅度不超过 7 个自然日，实际情况会予以披露。</p>
				<p>ii. 观察期价格：起始日当日北京时间下午 15:00（含该时点）起至结束日当日北京时间下午 15:00（含该时点）止的连续时期的沪深 300 指数收盘价格。</p>
				<p>iii. 期初价格：起始日当日中证指数有限公司公布的沪深 300 指数收盘价（精确到小数点后 2 位）。</p>
				<p>iv. 期末价格：结束日当日中证指数有限公司公布的沪深 300 指数收盘价（精确到小数点后 2 位）。</p>
				<p>v. 每个交易日的指数涨跌幅（即 Y<span class="txt-down">K</span>）=（第 K日收盘价－期初价格）÷期初价格× 100%。</p>
				<p>vi. 结束日的指数涨跌幅（即 Y<span class="txt-down">T</span>） =（期末价格－期初价格）÷期初价格× 100%。</p>
				<p>i. 浮动收益率为年化收益率。</p>
				<p>（ 3）浮动收益分配</p>
				<p>甲方可获得的浮动收益将于投资期满后一次性分配。</p>

				<h4 class="mgt4">第四条、收益权实现及回购</h4>
				<p>1、 乙方通过回购方式实现本协议中约定由甲方享有的收益权。</p>
				<p>2、 甲方收益权持有期限届满后七个工作日内， 乙方应向甲方按时足额回购上述收益权。回购价格为：收益权原受让价款+收益权持有期限内依总年化收益率所产生的收益-已按季支付的收益。</p>
				
				<h4 class="mgt4">第五条、 受让价款的支付</h4>
				<p>如果甲方对上述转让标的没有异议，须于本协议签署日 后 30 天内将本协议第一条中约定的受让价款支付到乙方账户。甲方委托并授权小牛新财富管理有限公司以及小牛新财富管
理有限公司指定的第三方支付机构将受让价款划付到乙方账户中。自款项到账次日， 本协议生效， 上述收益权转让完成。</p>

				<h4 class="mgt4">第六条、 声明与承诺</h4>
				<p>1、 双方均具备签订及履行本协议的主体资格、权利能力和行为能力，均已取得签订与履行本协议所必须的授权、批准及许可；</p>
				<p>2、双方在本协议中所承担的义务合法有效，且不与各方承担的其他义务相冲突。</p>

				<h4 class="mgt4">第七条、 保密义务</h4>
				<p>1、双方对在本协议签订与履行过程中所获得的信息、合同、资料、数据及其他商业秘密承担保密义务，除办理相关登记或批准所必需，不得向任何第三方提供或披露。</p>
				<p>2、前项所列义务不因本协议的解除、终止、失效而免除。</p>

				<h4 class="mgt4">第八条、 违约责任</h4>
				<p>双方均应全面履行本协议的各项约定；如因违约造成某一方损失的，另一方应依法承担赔偿责任。</p>

				<h4 class="mgt4">第九条、 争议解决</h4>
				<p>本协议的签订、履行及争议均适用中华人民共和国法律。</p>
				<p>凡与本协议有关的争议，双方应友好协商，妥善解决；协商不成的， 提交华南国际经济贸易仲裁委员会，依据仲裁申请之时该会施行的仲裁规则进行仲裁。仲裁裁决是终局的，对各方均有约束力。 由此产生的仲裁费、诉讼费、差旅费、担保费及保全费均由违约方承担。</p>

				<h4 class="mgt4">第十条、 协议生效</h4>
				<p>本协议一式三份，甲乙双方各执一份，交甲方指定的第三方（<b class="un-line"><strong>小牛新财富管理有限公司</strong></b>）
持一份，每份均具同等法律效力。本协议经甲、乙双方签字盖章之日起成立，受让方价款到
达出让方账户之日起生效；未尽事宜，另行协商。</p>
				<br />

				<p><b>甲方：</b><span class="span-name"></span></p>
			    <p><b>日期：</b><span class="span-date-hz"></span></p>
			    <br>
			    <p><b>乙方：</b><span>彭钢</span></p>
			    <p><b>日期：</b><span class="span-date-hz"></span></p>
			    <br/>
			    <p>本协议签署地：深圳市福田区</p>
		</div>
	</div>
	<script type="text/javascript">
		require('pages/product/agreement/agreement');
	</script>
</body>
</html>