<!doctype html>
<html class="bg-white">
<head>
	<meta charset="UTF-8">
	<title>指数牛-安全保障协议</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css  
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
</head>
<body>
	<div class="wrap">
		<div class="agreement">
			<section class="t-indent mgt4">
				<p>1、非浮动收益来自于小牛资本集团多种收益及安全极高的优质资产，风险极低；</p>
				<p>2、与行业龙头级券商合作，确保浮动收益兑付无忧；</p>
				<p>3、透明度高，投资人从公开渠道获取指数表现，自行计算的收益“所见即所得”；</p>
				<p>4、挂钩沪深300指数的涨跌幅不受人为操纵，杜绝所有人为风险。</p>
			</section>
		</div>
	</div>
	<script type="text/javascript">
		require('pages/product/agreement/agreement');
	</script>
</body>
</html>