<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>新手福利领红包</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css 
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="wap">
		<div class="color-bg">
			<div class="bg_light"></div>
			<section class="clearfix">
				
				<div class="logo_box">
					<div class="logo_img"><img src="/views/images/logo1.png"></div>
					<div class="logo_hd"><img src="/views/images/94hd.png"></div>
				</div>	
				<div class="ho_box">
					<a href="gq_register.html"><div class="ho_bao"><img src="/views/images/mhong_03.png"></div></a>
				</div>
				<div class="ho_boxtle">
					<div class="ho_tbox">
						<p class="one_star"></p>
						<div class="ho_title">
							<p class="yellow_tle">注册送壕礼</p>
							<p>小牛钱罐子邀您来理财</p>
						</div>
					</div>
				</div>
				<div class="ho_cloud">
					<div class="cloud_box"><img src="/views/images/cloud.png"></div>
				</div>
			</section>
		</div>
		<div class="list_box">
			<div class="line_title">
				<div class="dashed_line">
					<p>小牛资本旗下互联网金融平台</p>
				</div>
			</div>
			<ul class="list_btn clearfix">
				<li>
					<a href="#"><img src="/views/images/9141_11.png"></a>
					<p>百亿资产平台</p>
					<span>32级风险控制</span>
				</li>
				<li>
					<a href="#"><img src="/views/images/9141_13.png"></a>
					<p>预计收益10%+</p>
					<span>30倍银行收益</span>
				</li>
				<li>
					<a href="#"><img src="/views/images/9141_15.png"></a>
					<p>会员特权</p>
					<span>专属利率加成</span>
				</li>
			</ul>
		</div>
	</div>
	<script type="text/javascript">
		require('pages/user/nw_register/channel');
		require('pages/user/gq/index');
	</script>
</body>
</html>