<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->

	<!--
        @require views/css/global.css
        @require views/css/style.css 
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="wrap">
		<div class="new-title"><b></b>小牛钱罐子</div>
		<!-- 广告图 -->
		<div class="new-bg">
			<span class="ico-gift"><img  id="img-ad" src="/views/images/nw/ban-cash.jpg" /></span>
		</div>
		<ul class="inp-list mgt2 mgb2">
			<li class="clearfix">
				<label class="inp-tit" for="">手机号</label>
				<input  class="inp-txt-short" id="txt-mobile" type="tel" maxlength="11" autocomplete="off" placeholder="请输入手机号码">
			</li>
			<li class="clearfix">
				<label class="inp-tit" for="">密码</label>
				<input class="inp-txt-short" id="txt-password" type="password" maxlength="20" placeholder="请输入登录密码">
			</li>
		</ul>
		<!-- 底部内容 -->
		<div class="operate">
			<a class="oper-btn" id="btn-submit" href="javascript:void(0);" title="">登录</a>
			
		</div>
		<div class="change-link">
			<a href="nw_register.html" class="spl">立即注册</a>
			<a id="btn-forget" href="javascript:void(0);" class="spr">忘记密码</a>
		</div>		
		<div class="copy-right"><span><b></b>中国人保100%承保<br />小牛资本旗下产品</span></div>
	</div>
	<script type="text/javascript">
		require('pages/user/nw_login/nw_login');
	</script>
</body>

</html>