<ul class="tool_tab clearfix">
	<li><a class="btn-index" href="javascript:void(0);"><em></em><span>首页</span></a></li>
	<li><a class="btn-home" href="javascript:void(0);"><em></em><span>理财产品</span></a></li>
	<li><a class="btn-account" href="javascript:void(0);"><em></em><span>我的财富</span></a></li>
	<li><a class="btn-setting" href="javascript:void(0);"><em></em><span>设置</span></a></li>
</ul>