/*--底部工具栏----rem--*/
.tool_tab {position: fixed;left: 0;bottom: 0;z-index:100;width: 100%;line-height: .18rem;border-top: 1px solid #a0a0a0;font-size: .14rem;background: #fff;}
.tool_tab li {float: left;width: 25%;padding:.06rem 0;text-align: center;color: #929292;box-sizing:border-box;cursor: pointer;/**新添加**/position: relative;}
.tool_tab li em {display: block;width: .42rem;height: .42rem;margin: 0 auto;
background:url('ico-index.png') no-repeat;-webkit-background-size: 4.14rem 2.7rem;background-size: 4.14rem 2.7rem;}
.tool_tab li span {display: block;text-align: center;padding-right: .05rem;}
.tool_tab li.z-on,.tool_tab li.z-on a {color: #fd9149;}
.tool_tab li:nth-child(1) em {background-position: -.84rem 0;}
.tool_tab li:nth-child(1).z-on em {background-position: -.84rem -.42rem;}
.tool_tab li:nth-child(2) em {background-position: -1.26rem 0;}
.tool_tab li:nth-child(2).z-on em {background-position: -1.26rem -.42rem;}
.tool_tab li:nth-child(3) em {background-position: -1.68rem 0;}
.tool_tab li:nth-child(3).z-on em {background-position: -1.68rem -.42rem;}
.tool_tab li:nth-child(4) em {background-position: -2.1rem 0;}
.tool_tab li:nth-child(4).z-on em {background-position: -2.1rem -.42rem;}

.tool_tab li i{
	position: absolute;
    width: .1rem;
    height: .1rem;
    background-color: #da554e;
    top: 20%;
    left: 50%;
    margin-left: .16rem;
    border-radius: 50%;
}