<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>下载APP，领取新手大礼包</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css  
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="wp">
	<div id="pageWrap">
		<section class="page sec1">
			<div class="hdbanner"><img  src="/views/images/ttt_01.png"></div>
			<div class="logoimg"><img src="/views/images/ture_03.png"></div>
			<div class="dwonloadbtn">
				<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.meetrend.moneybox">立刻下载</a>
			</div>
			<div class="tip_text">下载APP，领取新手大礼包</div>
			<div class="Arrow" style="display: none;">
				<span class="line1"></span>
				<span class="line2"></span>
				<span class="line3"></span>
			</div>
		</section>		
	</div>
	</div>
	<script type="text/javascript">
		require("pages/sundry/download_v2/download_v2");
	</script>
</body>
</html>