<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>下载领取新手福利</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css  
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
</head>
<body>
	<div class="wp">
	<div id="pageWrap">
		<section class="page sec1">
			<div class="hdbanner"><img  src="/views/images/ttt_01.png"></div>
			<div class="logoimg"><img src="/views/images/ture_03.png"></div>
			<div class="dwonloadbtn">
				<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.meetrend.moneybox">立刻下载</a>
			</div>
			<div class="Arrow">
				<span class="line1"></span>
				<span class="line2"></span>
				<span class="line3"></span>
			</div>
		</section>
		<section class="page sec2">
			<header>	
				<img src="/views/images/new1_01.png">
				<img src="/views/images/new1_02.png">
				<p><span>10000元</span>体检金 <span><br>388元</span>现金红包</p>
			</header>
			<div class="main_yellow">
				<div class="round_box">
					<div class="round_gold">
						<img src="/views/images/new2_03.png">
						<p>万元体检金免费送</p>
					</div>
				</div>
			</div>
			<div class="Arrow">
				<span class="line1"></span>
				<span class="line2"></span>
				<span class="line3"></span>
			</div>
		</section>
		<section class="page sec3" >
			<div class="main_yellow">
			
			<div class="round_box">
				<p class="txt_p">体验金是小牛钱罐子的一种虚拟投资本金，不可提现。投资体验标后产生的收益可提现，会在账户余额显示</p>
				<ul class="ul_one">
					<li>10000元体验金</li>
					<li>年化收益率高达12%</li>
				</ul>
				<div class="liuimg"><img src="/views/images/liu_03.png"></div>
				<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.meetrend.moneybox">立即下载</a>
			</div>
			</div>
			<div class="Arrow">
				<span class="line1"></span>
				<span class="line2"></span>
				<span class="line3"></span>
			</div>
		</section>
		<section class="page sec4">
			<div class="round_box">
				<div class="round_gold">
					<img src="/views/images/new2_20.png">
					<p class="newb">388元新手红包助你您发发发</p>
				</div>
				<p class="txt_p">投资满足红包使用条件的产品，红包以现金的形式实时返还至账户余额</p>
				<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.meetrend.moneybox">立即下载</a>
			</div>
			<div class="Arrow">
				<span class="line1"></span>
				<span class="line2"></span>
				<span class="line3"></span>
			</div>
		</section>
		<section class="page sec5">
			<div class="round_box">
				<h2>温馨提示：</h2>
				<ul class="ul_two">
					<li><span>1、</span> <p>本次活动中的体验金年化收益率12%，收益期1天，有效期15天</p> </li>
					<li><span>2、</span> <p>388元现金红包仅限投资固定收益类产品，有效期15天</p> </li>
					<li><span>3、</span> <p>活动日期：2015.11.13  10:00 至 2015.11.30  23:59</p> </li>
					<li><span>4、</span> <p>每个新注册用户仅享有一次奖励，以用户身份证号码为准。对恶意刷奖行为，小牛钱罐子有权取消其活动奖励</p> </li>
					<li><span>5、</span> <p>	客服热线：400-998-9090<br>官方微信：xn—qianguanzi<br>客服小鲜肉微信号：3317353516</p> </li>
					<li><span>6、</span> <p>本次活动最终解释权归小牛钱罐子所有</p> </li>
				</ul>
			</div>
		</section>
	</div>
	</div>
	<script type="text/javascript">
		require("pages/sundry/download_v2/download_v2");
	</script>
</body>
</html>