<!doctype html>
<html style="background: #e6e6e6">
<head>
	<meta charset="UTF-8">
	<title>小牛钱罐子</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
		<!--
	        @require views/css/global.css
	        @require views/css/style.css  
	    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="news-wrap header" id="header">
		<ul class="topBar" id="ul-menu" style="position: fixed;left: 0; top: 0; width: 100%;">
			<li class="ui-state-active"><a href="javascript:void(0);"><span>相关资讯</span></a></li>
			<li><a href="javascript:void(0);"><span>安全保障</span></a></li>
			<li><a href="javascript:void(0);"><span>关于我们</span></a></li>
		</ul>
	</div>
	<div class="ui-viewport">
		<div class="ui-scroller" id="context">
			<div class="news-box ui-item"  style="height: 600px;">
				<article>
					<section class="div-context">
													
					</section>
				</article>
			</div>
			<div class="security-box ui-item" style="height: 1800px;">
				<article style="width: 4.14rem;">
					<section>
						<h3 class="tit-h3 mgt1"><span>资产安全</span></h3>
						<div class="img-ai mgt15"><img src="/views/images/zx/img-capital.png" alt="" /></div>
						<p class="tit-text">小牛钱罐子的项目是由银监会、证监会监管下的大型金融机构提供的信托、券商资管、基金子公司资管计划等顶尖资产。</p>
						
						<h3 class="tit-h3 mgt15"><span>风控安全</span></h3>
						<div class="mgt15"><img src="/views/images/zx/img-hazard.png" alt="" /></div>
						<p class="tit-text">金融项目经过合作金融机构、小牛钱罐子、小牛资本三重风控审核；</p>
						
						<h3 class="tit-h3 mgt15"><span>风险准备金</span></h3>
						<div class="img-ai mgt15"><img src="/views/images/zx/img-plan.png" alt="" /></div>
						<p class="tit-text">采用风险备用金制度，为您资产全程保驾护航；</p>

						<h3 class="tit-h3 mgt15"><span>支付安全</span></h3>
						<div class="img-ai mgt15"><img src="/views/images/zx/img-cup.png" alt="" /></div>
						<p class="tit-text">支付环节由广州银联网络把控，提供国家级合法支付渠道，资金及时到帐；</p>

						<h3 class="tit-h3 mgt15"><span>资金安全</span></h3>
						<div class="img-ai mgt15"><img src="/views/images/zx/img-piccs.png" alt="" /></div>
						<p class="tit-text">中国人民保险PICC，全额承保账户资金安全，防止交易过程的资金意外风险；</p>

						<h3 class="tit-h3 mgt15"><span>账户安全</span></h3>
						<div class="img-ai mgt15"><img src="/views/images/zx/img-accound.png" alt="" /></div>
						<p class="tit-text">资金同卡进出，杜绝账户资金被盗风险；</p>

						<h3 class="tit-h3 mgt15"><span>隐私安全</span></h3>
						<div class="img-ai mgt15"><img src="/views/images/zx/img-privacy.png" alt="" /></div>
						<p class="tit-text">BAT技术团队打造小牛钱罐子账户安全系统，给您账户永久隐私保护。</p>						
					</section>
				</article>
			</div>
			<div class="security-box ui-item"  style="height: 3311px;">
				<article  style="width: 4.14rem;">
					<section>
						<h2 class="tit-h2 mgt1 mgb3">对，最近怪事频发</h2>
						<h3 class="tit-h3"><span>有一家怪公司</span></h3>
						<p class="tit-text mgt2">一家小牛资本旗下的移动金融超市，怪在速度奇快！8个月交易额突破10亿人民币，创下行业发展记录；</p>
						
						<!--
						<h3 class="tit-h3 mgt15" style="display: none;"><span>还有，奇怪事</span></h3>
						<h4 class="tit-h4 mgt2 mgb1" style="display: none;">这，用户很奇怪<br />买个iPhone 6s，根本不花钱？</h4>
						<div class="img-logo mgt15"  style="display: none;"><img src="/views/images/zx/img-xnqgz.png" alt="" /></div>
						<p class="tit-text"  style="display: none;">在小牛钱罐子这个移动金融超市，你完全能通过投资理财过上0元生活，例如投资享受‘0元购iPhone6s’，‘0元去旅游’，未来甚至能实现‘0元购房’的梦想！</p>
						-->
						
						<h4 class="tit-h4 mgt2 mgb1 tit-line">这，项目很奇怪<br />它们本该是100万起投的顶尖资产</h4>
						<p class="tit-text mgt2">小牛钱罐子的项目是由银监会、证监会监管下的大型金融机构提供的信托、券商资管、基金子公司资管计划等顶尖资产。这些原本高高在上动辄需要100万或300万起投的项目，在这里，只需要1000元的投资门槛，对了，期限还更短！</p>
				
						<h4 class="tit-h4 mgt2 mgb1 tit-line">这，人都很奇怪<br />放着好好的BAT、银行高管不做，来这受苦受累？</h4>
						<div class="mgt15"><img src="/views/images/zx/img-company.png" alt="" /></div>
						<p class="tit-text">小牛钱罐子的团队来自阿里巴巴、腾讯、平安银行、民生银行和南方基金等互联网领军企业和金融机构的精英团队。</p>

						<h4 class="tit-h4 mgt2 mgb1 tit-line">这，让人很奇怪<br />法国领事馆为什么要找它谈谈心，说说爱？</h4>
						<p class="tit-text mgt2">2015年8月，小牛钱罐子代表中国创新金融与法国驻广州总领事馆商务处就中法金融创新模式进行商务交流。</p>

						<h4 class="tit-h4 mgt2 mgb1 tit-line">这，做法很奇怪<br />明明有大资本背景，去还这么拼命造安全？</h4>
						<div class="img-logo mgt15"><img src="/views/images/zx/img-xnzb.png" alt="" /></div>
						<p class="tit-text">金融项目经过合作金融机构、小牛钱罐子、小牛资本三重风控审核；</p>
						<p class="tit-text">采用风险备用金制度，为您资产全程保驾护航；</p>
						<p class="tit-text">中国人民保险PICC，全额承保账户资金安全；</p>
						<p class="tit-text">支付环节由广州银联网络把控，提供国家级合法支付渠道；</p>
						<p class="tit-text">资金同卡进出，杜绝账户资金被盗风险；</p>
						<p class="tit-text">BAT技术团队打造小牛钱罐子账户安全系统，给您账户永久保护。</p>

						<h3 class="tit-h3 mgt2"><span>奇怪的想法</span></h3>
						<h4 class="tit-h4 mgt2 mgb1">金融服务生活</h4>
						<div class="img-ico mgt15"><img src="/views/images/zx/ico1.png" alt="" /></div>
						<p class="tit-text">最终，金融最终的目的必须是服务于生活。小牛钱罐子将个人生活需求融入到金融产品中来，将已拥有的广袤资源重新整合并精心甄选，为用户创造独一无二的金融生活服务。</p>

						<h4 class="tit-h4 mgt2 mgb1">科技服务生活</h4>
						<div class="img-ico mgt15"><img src="/views/images/zx/ico2.png" alt="" /></div>
						<p class="tit-text">大数据驱动的投资理财平台，通过对用户画像与云分析，以专业理财师经验数据建模，将多年为高净值人群服务的经验，服务于更广泛人群。</p>

						<h3 class="tit-h3 mgt2"><span>唯一不奇怪的</span></h3>
						<p class="foot-info mgt2">公司名称<br /><span class="info-text">深圳市前海小牛网络科技有限公司</span><br />联系电话<br /><span class="info-text">4009989090</span><br />公司地址<br /><span class="info-text">深圳市南山区高新南十二路金蝶大厦B座7楼</span></p>
						
						<div style="display: none;">
							<h3 class="tit-h3 tit-h3_x mgt3"><span>对了，还有一个怪地方……</span></h3>
							<p class="foot-info mgt3">这个地方，就藏在下面</p>
							<div class="qr mgt15"><img src="/views/images/zx/qr.png" alt="" /></div>
							<p class="foot-tips ">截图或长按保存图片，扫一扫后关注微信<br />看看还能有什么怪事发生！</p>
						</div>
					</section>
				</article>
			</div>
		</div>
	</div>	
	<script type="text/javascript">
		require("pages/sundry/information_app/views");
	</script>	
</body>
</html>