<div class="pop-mask">
	<span class="ico-status ico-{{type}}"></span>
	<h3>{{msg}}</h3>
	<ul class="exit-btn clearfix">
		<li class="btn-cancel">取消</li>
		<li class="btn-confirm">确定</li>
	</ul>
</div>