<div class="hd-accounts bg-red">
	<span class="img-accounts">
		<a href="$root$/vip/grow.html"><img src="{{vipIco}}" /></a>
	</span>
	<div class="info-accounts">
		<div class="info-num"><a href="$root$/vip/grow.html">{{telNum}}</a></div>
	</div>
</div>
<a href="$root$/vip/specification.html">
	<div class="info-mission bg-deepRed">
		<span class="tips-ico">
			<img src="{{icoWechat}}" />
		</span>
		<p>只需登录微信版即可升级为{{nextLevelName}}</p>
	</div>
</a>