<h3 class="privi-tit">会员特权<a href="$root$/vip/levelPrivilege.html" class="tit-more">更多</a></h3>
<ul class="privi-list">
	{{each vipPrivilege}}
		<li><a href={{$value.detail}}><span><b></b></span><p>{{$value.vipName}}</p></a></li>
	{{/each}}
</ul>