.exit-box-deal h3 {padding: .2rem 0 0 0;font: .16rem/.22rem "Microsoft YaHei";color:#363532;}
.exit-box-deal h3.pd1-h3 {padding: .2rem 0;font-size: .18rem;}
.exit-box-deal p { padding-bottom: .2rem;font: .13rem/.26rem "Microsoft YaHei";color:#ccc;}
