<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>理财产品-活期宝</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection"content="telephone=no, email=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	
	<!--
        @require views/css/global.css
        @require views/css/style.css 
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
</head>
<body>
	<div class="wrap">
		<article class="pro_manage">
			<div class="wrap_box float wrap-item" id="context">
				<div class="p_box1" id="hqb-header">
					<div class="pro_text1">5.5<span>%</span>-11.0<span>%</span></div>
					<div class="pro_link"><a href="javascript:void(0);">随存随取</a>|<a href="javascript:void(0);">收益每月涨0.5%</a>|<a href="javascript:void(0);">利息复投</a></div>
					<div class="pro_balance">剩余额度：<span id="span-limit" class="c_red">0元</span></div>
				</div>
				<p class="pro_tips">购买当日起息，每日利息次日作为本金复投</p>
				
				<div id="hqb-context">
					<ul class="inp-list buy-list list-copy manage-acc">
						<li>
							<label class="inp-tit" for="">购买金额</label>
							<input class="inp-txt" id="txt-money" type="number" placeholder="100元起">
						</li>
					</ul>
					<p class="pro_tips" id="p-tips">每人累计最多可购买50000万元</p>

					<div class="operate">
						<a class="oper-btn" id="btn-buy" href="javascript:void(0);" >立即购买</a>						
					</div>
				</div>
				<p class="pro_tips">点击购买即代表您同意并签署<a class="c_red" href="$root$/agreement/hqb_invest.html">《活期宝投资协议》</a></p>
				
				<ul class="manage-list">
					<li>
						<a href="$root$/agreement/hqb_product.html" title="">产品详情</a>
					</li>
					<li>
						<a href="$root$/agreement/hqb_secure.html" title="">安全保障</a>
					</li>
				</ul>
			</div>
		</article>
	</div>
	<script type="text/javascript">
		require('pages/product/home/app_hqb');
	</script>
</body>
</html>