<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>理财产品</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css 
    -->

	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="wrap" id="wrap">
		<article>
			<section>
				<h3 class="protype-name">活期收益</h3>
				<div class="wrap_box bg-white hqb-context"></div>
			</section>

			<section>
				<h3 class="protype-name">固定收益</h3>
				<div class="wrap_box bg-white fixed-wrap fixed-context"></div>
				<div class="picc"><span class="ico1">账户资金安全由中国人民保险提供100%承保</span></div>
			</section>
		</article>	
	</div>
	<script type="text/javascript">
		require('pages/product/home/index');
	</script>
</body>
</html>