<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>购买</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置苹果工具栏颜色 -->
	<meta name="format-detection" content="telephone=no, email=no" /><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<!--
        @require views/css/global.css
        @require views/css/style.css 
    -->
	<script type="text/javascript" src="libs/mod.js" data-loader></script>
	<script type="text/javascript" src="/libs/base/system.js?__inline" data-loader></script><!--ignore-->
</head>
<body>
	<div class="wrap new-version">
		<div id="wrap">
			
		</div>
		
		<div>
			<!-- 说明文字 -->
			<div class="explain-txt"><strong>温馨提示</strong>
				<p>1、若输入购买金额后剩余额度 - 输入金额&lt;100元，则该用户需全额购买，否则无法购买成功</p>
				<p>2、所有转让产品均不享受其他活动优惠</p>
			</div>			
			<div class="tips-picc"><span class="ico1">账户资金安全由中国人民保险提供100%承保</span></div>
		</div>
	</div>
	<script type="text/javascript">
		require('pages/product/transfer_buy/views');
	</script>
</body>
</html>