<article>
	<section>
		<h3 class="protype-name">活期收益</h3>
		<div class="wrap_box bg-white"></div>
	</section>
	<section>
		<h3 class="protype-name">固定收益</h3>
		<div class="wrap_box bg-white fixed-wrap"></div>
		<div class="picc"><span class="ico1">账户资金安全由中国人民保险提供100%承保</span></div>
	</section>
</article>