<a href="javascript:void(0);" class="btn-detail">
{{if state == 300}}
	<div class="zhishu-box zhishu-box-over vip-ture">
		<div class="zhishu-tit">
			<p>{{productName}}</p>
		</div>
		<div class="zhishu-vip">
			<div class="z-txt">预期年化</div>
			<div class="z-num">
				<div class="vip-num-box"><b>{{flowMinRate}}</b>%~<b>{{flowMaxRate}}</b>% </div>
			</div>
		</div>
		<div class="zhishu-vip-limit"><p class="z-txt">剩余额度</p><p class="z-num">{{remaMoneyDisplay}}元</p></div>
		<a href="javascript:void(0);" class="btn-buy btn-submit">{{stateText}}</a>
	</div>
{{else}}
	<div class="zhishu-box vip-ture">
		<div class="zhishu-tit">
			<p>{{productName}}</p>
			<span class="time-vip">随存随取</span>
			{{each activityInfo}}
				<span class="time-vip time-yel">{{$value.text}}</span>
			{{/each}}
		</div>
		<div class="zhishu-vip">
			<div class="z-txt">预期年化</div>
			<div class="z-num">
				<div class="vip-num-box"><b>{{flowMinRate}}</b>%~<b>{{flowMaxRate}}</b>% </div>
			</div>
		</div>
		<div class="zhishu-vip-limit"><p class="z-txt">剩余额度</p><p class="z-num">{{remaMoneyDisplay}}元</p></div>
		<a href="javascript:void(0);" class="btn-buy btn-submit">{{stateText}}</a>

		{{if hotInfo.isShow }}
			<div class="sold-hot"><div class="scale">{{hotInfo.value}}</div></div>
		{{/if}}
	</div>
{{/if}}
</a>
