{{ if isLogin }}
<ul class="inp-list buy-list list-copy manage-acc">
	<li>
		<a href="javascript:void(0);" id="btn-recharge" class="clearfix">
			<label class="inp-tit" for="">账户余额</label>
			<div class="redeem_num" id="div-balance">{{balance}}元</div>
			<span class="acc-num">充值</span>
		</a>
	</li>
	<li>
		<label class="inp-tit" for="">购买金额</label>
		<input class="inp-txt" id="txt-money" type="number" placeholder="100元起">
	</li>
</ul>
<p class="pro_tips" id="p-tips">每人累计最多可购买{{fPurchaseMaximum}}元，您还可购买{{fbuyBalance}}元</p>

<div class="operate">
	{{if isSellOut }}
		<a class="oper-btn oper-btn-gray"  href="javascript:void(0);">已售完</a>
	{{else if remaMoney == 0 || fbuyBalance == 0}}
		<a class="oper-btn oper-btn-gray" href="javascript:void(0);">已满额</a>
	{{else}}
		<a class="oper-btn" id="btn-buy" href="javascript:void(0);" >立即购买</a>
	{{/if}}
</div>
{{else}}
<ul class="inp-list buy-list list-copy manage-acc">
	<li>
		<label class="inp-tit" for="">购买金额</label>
		<input class="inp-txt" id="txt-money" type="number" placeholder="100元起">
	</li>
</ul>
<p class="pro_tips" id="p-tips">每人累计最多可购买{{fPurchaseMaximum}}元</p>

<div class="operate">
	{{if isSellOut }}
		<a class="oper-btn oper-btn-gray"  href="javascript:void(0);">已售完</a>
	{{else if remaMoney == 0}}
		<a class="oper-btn oper-btn-gray"  href="javascript:void(0);">已满额</a>
	{{else}}
		<a class="oper-btn" id="btn-login" data-remaMoney="{{remaMoney}}" href="javascript:void(0);" >立即购买</a>
	{{/if}}
</div>	
{{/if}}