.exit-box-deal p { padding-bottom: .2rem;font: .13rem/.26rem "Microsoft YaHei";color:#ccc;}
.exit-box-deal {position:absolute;width:3.16rem;text-align:center;background:#fff;border-radius: 5px;z-index:9999;top: 8%; margin-left: -1.58rem; left: 50%;}
.exit-box-deal h3.password {padding: .3rem 0 .3rem 0;font: .16rem/.26rem "Microsoft YaHei";color:#363532;}
.exit-mask .exit-box-red li {color: #fff;}
.exit-box-deal .box-txt {padding-bottom:.4rem;font-size: .14rem;color: #979797;}
.exit-box-deal h3.pd1-h3 {padding: .2rem 0;font-size: .18rem;}
	
.exit-mask{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.5);z-index:999}	
.exit-mask .exit-btn {width:3.16rem;text-align:center;border-top: 1px solid #d1d1d1;z-index:9999}
.exit-mask .exit-btn li {float:left;width:50%;line-height:.54rem;font-size:.18rem; background: #da554e; color:#fff;border-right:1px solid #ccc;cursor:pointer;box-sizing:border-box;}
.exit-mask .exit-btn li:last-child {border-right: none;}
.exit-mask .exit-btn li:nth-child(1) {border-radius: 0 0 0 5px;}
.exit-mask .exit-btn li:nth-child(2) {border-radius: 0 0 5px 0;}
.exit-mask .exit-btn li.btn-gray {background: #ccc;}

.found_password_red {text-align: center;font: .14rem/.48rem "Microsoft YaHei";padding-top: 0.1rem;}
.found_password_red a {color: #f05a39;}

.deal-password-box {position: relative;z-index: 10;}
.password-input {position: absolute;left: 0;top: 1px;z-index: 10;width: 100%;height: .54rem;text-indent:-99999rem;color:#fff;font: .16rem/.54rem "Microsoft YaHei";border:none;background: none;}
.deal-password {/*padding: 0 0.5%;*/border:1px solid #d0d0d0;border-width: 1px 0;box-shadow: 0 0 .5rem rgba(12,51,92,.1);background: #fff;}
.deal-password li {float: left; position: relative; width: 16.65%;height: .54rem;border-right: 1px solid #d0d0d0;box-sizing:border-box;}
.deal-password li:after {display:none;content: "";position: absolute;left: 50%;top: .2rem;z-index:11;margin-left: -0.075rem;width: .15rem;height: .15rem;-moz-border-radius: 2rem;border-radius: 2rem;background: #000;}
.deal-password li:last-child {border:none;}
.deal-password li.z-on:after {display: block;}