<div>
	<div class="scroll-box waterfall-container">
		<div class="waterfall-header"></div>
		<div class="waterfall-context" style="display:none;"></div>
		<div class="waterfall-loading">
			<p>{{loadingText}}</p>
		</div>

		{{if emptyHtml}}
			{{#emptyHtml}}
		{{else}}
		<div class="waterfall-empty" style="display:none;">
			<div class="profit-none">{{emptyText}}</div>
		</div>
		{{/if}}
	</div>
	
</div>