.scroll-box {overflow-y: auto;}
.profit-none {padding-top: 2rem;font-size: .2rem;color: #999;text-align: center;}
.waterfall-empty .top1{padding: .6rem 0 !important;}
.waterfall-loading, .waterfall-login{font-size: 0.16rem; text-align: center;padding-top: 0.20rem; padding-bottom: 0.20rem;}