<div class="ban-name"><span>活期宝</span></div>
<div class="ban-num">{{flowMinRate}}<em>%</em>-{{flowMaxRate}}<em>%</em></div>
<div class="ban-note"><span>随存随取</span>|<span>当日计息</span></div>
<div class="ban-btn"><a id="btn-buy" href="$root$/product/home.html" class="btn-buy">立即购买</a></div>
<div class="picc-careful"><span>由中国人保100%承保  小牛资本旗下产品</span></div>