{{each unQgzList}}  
	<li>
        <p class="hdimg"><img src="{{$value.weisha_06}}"></p>
        <p class="hdname">
        	<span>{{$value.friendName}}</span>
        	<i>{{$value.friendMobile}}</i>
        </p>
        <p class="yaoBtn"><a href="javascript:void(0);" class="messageInvite">短信邀请</a></p>
    </li>
{{/each}}