<ul class="buy-record mgt3">
	<li class="clearfix">
		<!-- <span class="date">{{endTime}}</span> -->
		<!-- <span class="date">{{trasferSecond}}</span> -->
		<div class="date">
			<p>{{endTime}}</p>
			<p class="fs-14">{{endSecond}}</p>
		</div>
		<div class="action">
			<h4>转让结束时间</h4>
		</div>
	</li>
	<li class="clearfix z-on">
		<!-- <span class="date">{{transferTime}}</span> -->
		<div class="date">
			<p>{{transferTime}}</p>
			<p class="fs-14">{{trasferSecond}}</p>
		</div>
		<div class="action">
			<h4>转让申请提交成功</h4>
			<p>转让价格{{transMoney}}元</p>
		</div>
	</li>
</ul>
<ul class="btn-followUp dp-box mgt3">
	<li><a href="{{backAttorn}}">返回我要转让</a></li>
	<li><a href="{{backAttorning}}">查看转让中产品</a></li>
</ul>